[2017-12-23 12:15] gabrielenava opened #1 "Write Documentation of the repo"
A readme and a small guide for running the controllers are required.

[2017-12-23 12:29] gabrielenava opened #2 "Porting and cleaning up WBIToolbox-Controllers"
Controllers to be ported: (see https://github.com/robotology-playground/WBI-Toolbox-controllers/tree/master/controllers)

-  [x] torqueBalancingYoga
- ~~boundedTorqueControl~~
- ~~torqueBalancingOnSeesaw~~
- [x] torqueBalancingStandUp
- [x] wholeBodyImpedance
- [x] utilites
- [x] tests on the real robots (`iCubGenova02` and `iCubGenova04`)

[2017-12-23 12:33] gabrielenava opened #3 "Porting and cleaning up mex-wholeBodyModel"
Library is deprecated. iDyntree wrappers will be used instead. [mex-wholebodymodel](https://github.com/robotology/mex-wholebodymodel) will be put in legacy.

[2017-12-24 19:45] gabrielenava opened #4 "MPC controller won't work if rotational task frame is rotated w.r.t. feet frames"
In order to make the robot able to turn in simulation, the reference orientation for the rotational task is updated according to the feet orientation. However, this solution fails when the frame representing the position and orientation of the link chose for the rotational task is oriented differently from the feet frames. Another solution is therefore required to solve the bug.

[2017-12-24 19:47] gabrielenava opened #5 "Migration to WBToolbox 3.0"
For the moment, blocked by https://github.com/robotology-playground/wholeBodyControllers/issues/2.

[2017-12-26 13:18] gabrielenava commented on #2
Guidelines to follow: https://github.com/loc2/element_qp-reactive-control/issues/21 and https://github.com/loc2/element_qp-reactive-control/issues/18

[2017-12-28 10:59] gabrielenava opened #6 "Implement new logic for activation/deactivation while walking with MPC"
For the moment, the MPC is sending the `contact status`: a vector of 1 and 0 depending if the corresponding contact is activated (1) or not (0). However, contact activation is not always triggered correctly, and this results in discontinuities and affects the controller accuracy. The simplest test to do is to use a threshold on the vertical force at feet in order to detect contact activation/deact

[2017-12-28 11:27] gabrielenava opened #7 "Usage of "model" block for creating a Simulink library for controllers"
In the past (1 month ago), I tried to use the [model block](https://it.mathworks.com/help/simulink/slref/model.html) to create a Simulink library for all the controllers. The idea was to avoid duplication of blocks which are shared between different controllers. I had some difficulties to compile referenced models that contains S-functions (almost all of them), but I can try again with a simple co

[2017-12-28 13:19] gabrielenava commented on #4
Solved with this commit: https://github.com/robotology-playground/wholeBodyControllers/commit/df5b44e255265fc2cf6d915981c2796404ffb643

Now it is possible to rotate the robot in simulation with any link for rotational task.

[2017-12-28 13:19] #4 closed, assigned to gabrielenava

[2017-12-28 14:49] gabrielenava commented on #6
Done with https://github.com/robotology-playground/wholeBodyControllers/commit/48e565036b329bf9a11cc64b27f75f65c81fee8a

[2017-12-28 14:49] #6 closed, assigned to gabrielenava

[2018-01-05 18:00] gabrielenava commented on #2
Cleanup of the file for loading Yoga++ initial values is required, see https://github.com/loc2/lab-events-demos/issues/23#issuecomment-355575988

[2018-01-07 22:30] gabrielenava commented on #2
Yoga controller has been ported and tested in simulation with this commit: https://github.com/robotology-playground/wholeBodyControllers/commit/bd9150238b4199969b68abe5721ed91e31b7d83e

[2018-01-08 09:33] gabrielenava commented on #3
Thinking about it, I'm not sure about porting this into the new repo. No-one is using this library anymore, and it won't be a quick task. I will fork [the repo](https://github.com/robotology/mex-wholebodymodel) so that we can decide later if merging it or not, and I would like to put it in [legacy](https://github.com/robotology-legacy) for now.

[2018-01-08 10:11] gabrielenava commented on #2
Same comment of [mex-wholebodymodel](https://github.com/robotology-playground/wholeBodyControllers/issues/3#issuecomment-355918387) also for the seesaw controller. Does it make sense to port it now in the new repo? It is not used, and there are no plans to use it soon. Anyway, it will be always kept inside the [legacy]() repo, and in my private fork. To conclude, I think only yoga, impedanceContro

[2018-01-08 11:00] gabrielenava commented on #5
It will be anyway done after testing the controllers on the real robots.

[2018-01-08 17:46] gabrielenava commented on #2
Ported completed for the standup controller in simulation with this commit: https://github.com/robotology-playground/wholeBodyControllers/commit/efd8740a3e353588aa1147b65950129bc7f6c1cf

[2018-01-08 18:46] gabrielenava commented on #2
Impedance control ported and tested in simulation: https://github.com/robotology-playground/wholeBodyControllers/commit/e6b987f4097b4e6737c67837ff016c002473392e

[2018-01-08 18:54] gabrielenava commented on #2
Added utilities (IMU, FT debug) with https://github.com/robotology-playground/wholeBodyControllers/commit/80cd096446fcd9b6ba30c2dc0626b8c8eeacbe46

[2018-01-09 13:56] gabrielenava commented on #1
Done from commit https://github.com/robotology-playground/wholeBodyControllers/commit/cc4542ad9cc4202a13e6cda147b2840bbea20bf1 to commit https://github.com/robotology-playground/wholeBodyControllers/commit/0c0bda6c86994cc3f9c7db6df649c3dd2fb8890d.

[2018-01-09 13:56] #1 closed, assigned to gabrielenava

[2018-01-09 13:57] gabrielenava commented on #3
Closing for now. I will reopen the issue when it will be necessary.

[2018-01-09 13:57] #3 closed, assigned to gabrielenava

[2018-01-09 14:15] gabrielenava opened #8 "Shall we use Travis for dealing with different Simulink versions?"
It has always been a problem to deal with different Simulink versions because a model created with a newer version cannot be opened using an older version. Same happens if a model created with an old version is opened with a newer Simulink.

In [WBIToolbox-Controllers](https://github.com/robotology-playground/WBI-Toolbox-controllers) the proposed solution was to [duplicate each model](https://gith

[2018-01-09 16:19] traversaro commented on #8
I don't think there is a way for Travis to run Simulink. On the other hand, we could implement the proposed behaviour using our internal Jenkins infrastructure.

[2018-01-10 13:20] diegoferigo commented on #8
@traversaro I know one way, but it might not be compliant on Matlab's licence and I was gently asked not to mess with it :sweat_smile:

As discussed with @DanielePucci back in December, I'm going to develop a bash script which will be handled by our internal Jenkins infrastructure.

The implemented rationale will be the following:

Let's take the minimum version of Matlab / Simulink we want to sup

[2018-01-10 19:07] gabrielenava commented on #2
New standup code working on `icubgenova02`: https://github.com/robotology-playground/wholeBodyControllers/commit/3be6c0ec29ab2c580b7ce9e3a4b3dd328fe6d279

[2018-01-11 10:09] gabrielenava commented on #2
config files added for `icubgenova02` for all controllers: https://github.com/robotology-playground/wholeBodyControllers/commit/e8079bb9ceec91a941b3b39d0b7e4d54abb65a1e

[2018-01-15 15:33] gabrielenava commented on #2
Performing tests on the `iCubGenova02` with @anqingd @GiulioRomualdi

[2018-01-18 15:34] gabrielenava opened #9 "Switching between different demos in task-based controller is complicated"
The issue is that the MPC walking controller needs a port to have the blocking read activated:

![screenshot from 2018-01-18 16-33-31](https://user-images.githubusercontent.com/12396934/35105990-585e2148-fc6d-11e7-9838-58c84bc751ff.png)

but this is preventing the "example state machine" demo to start. If one removes the blocking read for testing the controller without MPC, then it is difficult to

[2018-01-18 15:35] gabrielenava commented on #9
cc @S-Dafarra

[2018-01-18 15:47] S-Dafarra commented on #9
Because we need a different ``mdl`` for each demo :rofl:

[2018-01-18 16:12] gabrielenava commented on #9
But the `example state machine` is not supposed to be a demo, is thought as a feature for debugging controller-only related issues/tuning.

[2018-01-18 16:30] gabrielenava commented on #2
Only tests on `iCubGenova04` missing.

[2018-01-18 17:19] S-Dafarra commented on #9
It is rather a test, which usually are in separate files. But a test to be fruitful needs to be applied to a "close to working" configuration, so we fall again on the issue https://github.com/robotology-playground/wholeBodyControllers/issues/7

[2018-01-19 14:07] gabrielenava opened #10 "How to setup the enviroment for running torque control on iCub"
#### This issue is for collecting all the links to the documentation which is necessary to follow in order to run torque control simulations with iCub.

### Basic requirements:

- you need a PC with ubuntu (better if 16.04 LTS) or macOS. These are the operating systems we use in our lab, and they are tested and supported. Regarding Windows, the problem is that the Gazebo simulator is not supported

[2018-01-23 17:24] gabrielenava opened #12 "The size of this repo is increasing"
At the time of writing 11.8 Mb.

I think this is impossible to avoid. Sometimes it is necessary to modify/add `.mdl` files. However, maybe my [legacy](https://github.com/robotology-playground/wholeBodyControllers/tree/master/legacy) folder is contributing to increasing the size of this repo. Maybe the suggestion in [this issue](https://github.com/robotology-playground/wholeBodyControllers/issues/8

[2018-01-23 17:26] gabrielenava opened #13 "Boost data processing for data coming from the Simulink model"
With [this commit](https://github.com/robotology-playground/wholeBodyControllers/commit/b82317a0e9eeccdb7bdb3ba22e81449e2b4d43b6), I added a callback in every model to a function like [this one](https://github.com/robotology-playground/wholeBodyControllers/blob/WBT3/controllers/torqueBalancingYoga/stopTorqueBalancingYoga.m). The function is called every time the `terminate` button is pressed. The

[2018-01-23 17:31] gabrielenava commented on #5
done with this commit: https://github.com/robotology-playground/wholeBodyControllers/commit/b82317a0e9eeccdb7bdb3ba22e81449e2b4d43b6

only tests on the robot are missing, but I'll track the status of this activity using this [PR](https://github.com/robotology-playground/wholeBodyControllers/pull/11). Closing the issue.

[2018-01-23 17:31] #5 closed, assigned to gabrielenava

[2018-01-23 17:33] gabrielenava commented on #2
Closing, even if the tests on `icubGenova04` are still missing we are using the new controllers as default on `icubGenova02` without any issue.

[2018-01-23 17:33] #2 closed, assigned to gabrielenava

[2018-01-24 05:55] caicaixia commented on #10
Hello, I tried to run the wholeBodyControllers in simulation as [https://github.com/robotology-playground/wholeBodyControllers/blob/master/doc/How-to-run-torqueBalancing-simulations-with-iCub.md](https://github.com/robotology-playground/wholeBodyControllers/blob/master/doc/How-to-run-torqueBalancing-simulations-with-iCub.md), but it's not successful.
But I have some questions:
1. after run $` gaze

[2018-01-24 09:03] diegoferigo commented on #10
Hi @caicaixia, waiting @gabrielenava for a more thorough reply on the other problems, can you please post the output of `nm -C -u /path/to/WBToolbox.mexa64` which can be useful to debug the `Invalid MEX-file` error? It looks like some symbols are unresolved.

You can find the file in the `<INSTALL_PREFIX>/mex` folder.

---

It turned out being a problem of Matlab's dynamic libraries linking. [Here

[2018-01-24 09:54] caicaixia commented on #10
I solve the second error about gcc version,  `Missing symbol '_ZNKSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEE7compareEPKc' required by '/home/cai/Workspace/codyco-superbuild/build/install/mex/WBToolbox.mexa64'` , by add this line to .bashrc file:
`export LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libstdc++.so.6:/usr/lib/x86_64-linux-gnu/libprotobuf.so.9
`
Somebody said it is the gcc version probl

[2018-01-24 10:17] gabrielenava commented on #10
Hi @caicaixia, thanks for the feedback! Ok so, regading this:

There several repos: icub-gazebo-wholebody/models has iCub fixed no hand, iCub feet fixed and so on; iCub/models has iCubGenova04, iCunGenova02, iCubGazeboV2_5 etc . More repos like gazebo/models, icub-gazebo.

- `iCubGenova04` and `iCubGenova02` are the names of the iCub we have in our lab, in Genova. Their models are stored in [icub-

[2018-01-24 10:30] gabrielenava commented on #10
Update:

The `.mdl` will directly call it.

[2018-01-25 05:55] caicaixia commented on #10
I tried all the demos, it's still not working.
1. Matlab issue:  I did the one as [troubleshooting](https://github.com/robotology/WB-Toolbox#troubleshooting), and tried both ways like
 a) ` LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.19 matlab`;
 b) The  permanent and scalable solution in [this issue](https://github.com/robotology/codyco-superbuild/issues/141#issuecomment-257892256).  Ho

[2018-01-25 07:38] diegoferigo commented on #10
@caicaixia In the next weeks we will release a new version of the WB-Toolbox which will require only minor modifications from the user side. I improved the toolbox documentation (you can reach it temporarily in my [personal fork](https://github.com/diegoferigo/WB-Toolbox/tree/WB3.0#troubleshooting)) including a more stable fix to the `LD_PRELOAD` workaround.

As you can see, the library is address

[2018-01-25 08:36] caicaixia commented on #10
yes,  I already checked it my computer, my system only have `/usr/lib/x86_64-linux-gnu/libstdc++.so.6` and `libstdc++.so.6.0.21`

Thats why I tried run like` $ LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libstdc++.so.6 matlab` in the terminal, but its not working.  I also tried to set the` LDPATH_PREFIX='/usr/local/opt/gcc/lib/gcc/6/'` in the `.matlab7rc.sh`, but it is also not working.

However, if I re

[2018-01-25 11:03] gabrielenava commented on #10
mmh, this is really strange. I tried to replicate the issue on my laptop.

I have a personal laptop with Ubuntu 16.04 LTS and Matlab R2017b. I removed all the installed folders (I have everything installed locally) and I reinstalled everything from scratch. I chose the option to install `YARP` and `ICUB-MAIN` inside the `CODYCO-SUPERBUILD`. Usually, we have some repositories in `devel` branch inst

[2018-01-26 02:23] caicaixia commented on #10
I installed the `YARP` and `ICUB-MAIN` from the source codes first, like [http://wiki.icub.org/wiki/Linux:Installation_from_sources](http://wiki.icub.org/wiki/Linux:Installation_from_sources).

Then I install the `gazebo8` and `gazebo-yarp-plugins`. Finally I did `CODYCO-SUPERBUILD`.

1. When I install the `CODYCO-SUPERBUILD`, there are so many flags, which flags did you set to **TRUE**?  In my cc

[2018-01-26 03:28] caicaixia commented on #10
The error seems like,  it try to call `/codyco-superbuild/build/install/bin/qpOASES.m`.  However, I opened this file, there is no codes inside, only some help description. Is this correct?

I can find my `libqpOASES.so` in `/home/cai/Workspace/codyco-superbuild/build/install/lib`, but when I try to locate it `locate libqpOASES.so` in terminal, there is no out put.

I already put this line in .bash

[2018-01-26 07:07] caicaixia commented on #10
Hello @gabrielenava , I solved the `qpOASES` errors.
In [matlab configuration](https://github.com/robotology/WB-Toolbox#matlab-configuration), you ask me to add those two to the **MATLAB PATH**:
[code]
But actually I added the all `superbuild/build_folder/install` to matlab path.  So when the codes require the `qpOASES`, it will find the `/codyco-superbuild/build/install/bin/qpOASES.m` first inste

[2018-01-26 11:22] gabrielenava commented on #10
Don't worry @caicaixia, happy to hear that the controllers are now working!

Regarding the yoga on both feet, there are a bunch of options in this file:

https://github.com/robotology-playground/wholeBodyControllers/blob/master/controllers/torqueBalancingYoga/app/robots/icubGazeboSim/initStateMachineYoga.m#L127

in particular, if you set to `True` the option `Sm.yogaAlsoOnRightFoot`, the robot wil

[2018-01-29 03:04] caicaixia commented on #10
Hello @gabrielenava Thanks for explanation. Yes, my `codyco-superbuild` was in `debug`. Then I changed it to `release` and run again.  I found my default Real Time Factor in Gazobo at beginning is around 0.85(before run), then when it's running, it becomes 0.  Then the robot went crazy, it cannot do the yoga :(

Here is the errors:
[code]
![crazy](https://user-images.githubusercontent.com/18044886

[2018-01-29 11:18] gabrielenava commented on #13
I will try to implement this during this week. The Idea is the following:

- run a demo;
- terminate and collect data, plot data;
- decide whether to save or discard data.

@S-Dafarra may be useful also for you for collecting data on the robot.

[2018-01-29 11:56] gabrielenava commented on #10
Regarding:

[code]

this is an output of the quadratic programming solver [qpOASES](https://github.com/robotology-dependencies/qpOASES) which is used inside the controller. It tries to find the optimal set of feet contact forces (given the unilateral and friction cone constraints), so if the robot falls it will trow an error saying that it couldn't find a feasible solution. This is normal, and it

[2018-01-30 09:04] caicaixia commented on #10
Hello @gabrielenava, I checked my Gazebo physics engine,  the setup is exactly the same as yours. But its still falling.

I also tried to turn the PD parameters in ` initStateMachineYoga.m`. I tried many possible cases but all are falling :(

Video:
[Videos.zip](https://github.com/robotology-playground/wholeBodyControllers/files/1676952/Videos.zip)

QA:
I want to double check, in `torqueBalancingY

[2018-01-30 13:52] gabrielenava commented on #10
I want to double check, in torqueBalancingYoga: You said: The corresponding home position is homePoseYogaPP. Does that mean:
$ yarpmotorgui --from homePoseBalancing.ini -> Global Joints Commands/Custom postions/Moveallpart to YogaPP ??

This is correct :-)

Looking at the videos, it seems to me that there is something strange, especially in the second one. Can you output the result of `yarp resour

[2018-02-02 15:28] gabrielenava commented on #9
The [torqueWalkingMPC](https://github.com/robotology-playground/wholeBodyControllers/tree/master/controllers/torqueWalkingMPC) controller is becoming more and more `walking-specific`, hence we can close this issue. Conclusion: just use the walking controller for walking.

[2018-02-02 15:28] #9 closed, assigned to gabrielenava

[2018-02-02 15:29] gabrielenava commented on #13
I think I will implement this soon for collecting data for IROS.

[2018-02-02 16:18] lpenco opened #14 "ERROR: Premature homotopy termination because QP is infeasible ->ERROR: Initial QP could not be solved due to infeasibility!"
I edited the simulink scheme of the controller torqueBalancing in https://github.com/robotology-playground/WBI-Toolbox-controllers. I'm using the SM COORDINATOR. I'm sending through 2 yarp ports the jointAngles and the CoM coordinates wrt to l_sole, respectively. The motion is a simple motion with the arms with the 2 feet on the ground, that works if retargeted on the old C++ torqueBalancing even

[2018-02-04 12:19] diegoferigo commented on #13
@gabrielenava In my opinion we should exploit this features and dump all the data we can gather from the robot using simulink to the workspace in a structured way. With this I mean that the initialization script could contain a flag to enable / disable data logging, and all the blocks that export data (scopes mainly) are configured in such a way to fill a class' object.

This class can be develope

[2018-02-04 21:00] gabrielenava commented on #14
I imagine the (quite big) oscillations in the CoM references are a transient phase before reaching the steady-state value (the constant references after the oscillations), am I right? Because the amplitude of the CoM oscillations is 10-20cm, and there's no way the robot can handle such a big disturbance. The smoothing acts as a filter, hence it is good to have a very long smoothing time. It is nec

[2018-02-05 12:27] lpenco commented on #14
The big oscillation is the reference I'm sending. Then the value stabilizes to the current position of the com since the reference is to keep the last position. Even though it is a big oscillation, since it corresponds to the com of the reference joint postures it could be handled by the robot. Indeed, the C++ controller works smoothly with this references, even without smoothing any trajectory. I

[2018-02-05 13:45] lpenco commented on #14
Yes I found where the problem was, I was using the zCoM that I send, as a threshold signal for a switch port and as a reference at the same time. That was causing troubles. I now use another signal and it the simulation runs smoothly. The robot falls down but just because the initial position doesn't match. I try now to smooth it further. Anyways I would like to add the constraint of the feet atta

[2018-02-05 13:45] #14 closed, assigned to nobody

[2018-02-05 17:40] gabrielenava opened #15 "Check mex-wholebodymodel status and eventually port the code into wholeBodyControllers"
[mex-wholeBodyModel](https://github.com/robotology/mex-wholebodymodel) will be used by @ahmadgazar for simulating iCub and Walkman with SEA. It is therefore necessary to check if the code still compiles and eventually port it into this repo.

[2018-02-05 18:21] gabrielenava commented on #14
yes there is, and it consists in installing [icub-gazebo-wholebody](https://github.com/robotology-playground/icub-gazebo-wholebody/tree/master/models) repository. If you installed the [codyco-superbuild](https://github.com/robotology/codyco-superbuild) with the option `CODYCO_USES_GAZEBO = ON`, it is just a matter of adding the path to the model. You can follow this [README](https://github.com/rob

[2018-02-06 14:29] lpenco opened #16 "Error evaluating `InitFcn` callback of block_diagram `torqueBalancingR2015bXsens`"
I'd like to control all the joints of the iCub included the wrist and the head.
I changed the parameters in gains.m but I get this error. What else do I have to change?

Error evaluating 'InitFcn' callback of block_diagram 'torqueBalancingR2015bXsens'.
Caused by: Dimensions of matrices being concatenated are not consistent.

[2018-02-06 19:36] gabrielenava commented on #16
mmh...ok, the error is related to a dimension mismatch that I'm afraid is caused by the gains and references inside [initStateMachine.m](https://github.com/robotology-playground/WBI-Toolbox-controllers/blob/master/controllers/torqueBalancing/app/robots/icubGazeboSim/initStateMachine.m) and [initRefGen.m](https://github.com/robotology-playground/WBI-Toolbox-controllers/blob/master/controllers/torqu

[2018-02-07 10:13] #16 closed, assigned to nobody

[2018-02-07 10:13] lpenco commented on #16
yeah it works by changing all the yoga parameters. Thank you! :)

[2018-02-21 13:47] traversaro opened #17 "Rename the repo?"
The custom names of repository in the robotology organization are all lowercase, and with dash separating the names.

[2018-02-21 14:35] gabrielenava commented on #17
It seems to me there are a couple of exceptions, e.g. https://github.com/robotology-playground/ftShoe_calibration, https://github.com/robotology-playground/WBI-Toolbox-controllers. Also this repo is in `robotology-playground`, not `robotology`. Apart from this, fine for me to rename it.

[2018-02-21 14:57] traversaro commented on #17
If we use it in day-to-day activities, we should move it to robotology. robotology-playground is meant only for initial testing (hence the name).

[2018-02-21 14:57] #17 closed, assigned to nobody

[2018-03-03 13:08] diegoferigo opened #19 "Release the controllers with WB-Toolbox 3 support"
Following https://github.com/robotology/QA/issues/279 and https://github.com/robotology-playground/whole-body-controllers/issues/5, the controllers stored in the `WBT3` branch can be merged if they're ready.

[2018-03-03 13:17] diegoferigo opened #20 "Automatic data processing and plotting of whole-body datasets"
Following https://github.com/robotology-playground/whole-body-controllers/issues/13, it would be really nice having a matlab class or script that automatically processes data logged from Simulink (initial idea [here](https://github.com/robotology-playground/whole-body-controllers/issues/13#issuecomment-362902602)). This would require introducing a generic structure for storing whole-body data.

In

[2018-03-21 15:37] gabrielenava commented on #19
This has been addressed with [this commit](https://github.com/robotology-playground/whole-body-controllers/commit/ebafdb4c8dc5a1f5020c76538c6da26ff7d46335). Closing.

[2018-03-21 15:37] #19 closed, assigned to nobody

[2018-03-21 15:38] gabrielenava commented on #15
Even if it may be still necessary to recover `mex-wholeBodyModel`, we're not going to port it inside this repo. Closing.

[2018-03-21 15:38] #15 closed, assigned to gabrielenava

[2018-03-21 15:39] gabrielenava commented on #13
closing as a duplicate of https://github.com/robotology-playground/whole-body-controllers/issues/20

[2018-03-21 15:39] #13 closed, assigned to nobody

[2018-04-19 12:20] traversaro opened #22 "Move to robotology"
If you are ok with it @gabrielenava , we can now move this repo to the robotology organization.

[2018-04-19 12:21] gabrielenava commented on #22
I'm ok with it.

[2018-04-19 12:27] traversaro commented on #22
Done.

[2018-04-19 12:27] #22 closed, assigned to traversaro

[2018-05-04 09:07] gabrielenava opened #23 "New features and legacy"
## This issue is to document where to find new features and legacy code associated to Matlab/Simulink whole body control.

### Main repository: [whole-body-controllers](https://github.com/robotology/whole-body-controllers)

#### Available controllers

- [impedance-control](https://github.com/robotology/whole-body-controllers/tree/master/torque-controllers/impedance-control)
- [momentum-based-stand

[2018-05-24 16:49] gabrielenava opened #25 "Compilation broken on master branch"
I tried to compile the repo using the [robotology-superbuild](). I reverted `yarp` and `icub-main` to `master`  branch. I got the following error:

[code]

cc @diegoferigo

[2018-05-24 16:52] gabrielenava commented on #25
### Temporary fix:

in my local copy of this repo, I reverted the [CMakeLists.txt]() as it was before the last PR, i.e.

[code]

[2018-05-24 17:07] traversaro commented on #25
Mhhh for the time being I think you can just comment out most of the CMakeLists.txt

[2018-05-24 17:09] diegoferigo commented on #25
@gabrielenava Right, I didn't think the superbuild was executing the dummy cmake. Try to add after `project()`:

[code]

[2018-05-28 09:08] gabrielenava commented on #25
I follwed the suggestion [here](https://github.com/robotology/whole-body-controllers/issues/25#issuecomment-391790148) but anyway I was not able to compile the repo. I got this error:

[code]

[2018-05-28 09:10] traversaro commented on #25
You need to put the
[code]
before the `return()` .

[2018-05-28 09:14] gabrielenava commented on #25
This was also my conclusion. I tested with:

[code]

It is working. Closing the issue.

[2018-05-28 09:14] #25 closed, assigned to diegoferigo

[2018-05-28 09:16] gabrielenava commented on #25
The fix is at https://github.com/robotology/whole-body-controllers/commit/234bb90682d7dfedf997ec37bf0f73425ba2566a

[2018-05-29 15:16] gabrielenava opened #26 "Set control parameters from Simulink block"
Currently, the control parameters such as gains and regularization terms are stored in matlab functions like [this one](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga/app/robots/iCubGenova04/initStateMachineYoga.m).

The autogenerated C++ code from Simulink ( https://github.com/robotology-playground/autogenerated-whole-body-controllers) will

[2018-06-11 15:32] gabrielenava opened #27 "Improve the visualization and data collection"
Currently, the Simulink controllers are endowed with a `Visualization` block (see pictures), that contains several `Scopes` allowing the user to visualize several control-related quantities (center of mass position, joint torques, ...). It is also possible to dump all these plots in the Matlab workspace and [save them in a file](https://github.com/robotology/whole-body-controllers/blob/master/torq

[2018-06-12 12:04] gabrielenava opened #28 "Use QP block from WBToolbox in the controllers"
It is now available a `QP` block inside WBToolbox (devel). This block should substitute the current call through [S-Function](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga/src/QPBalancingYoga.m) to the `QPOASES` algorithm that is done inside all Simulink controllers.

[2018-06-14 08:16] diegoferigo opened #29 "torqueBalancingYoga and YARP 3"
I am experiencing a strange behavior with the following combination of software:

| Project | Version |
| --- | --- |
| yarp | 3.0.0 |
| wb-toolbox | latest devel + yarp3 fixes (https://github.com/diegoferigo/WB-Toolbox/commit/4ee6e10fc5ab35c06ae96392b64ea654dae904a1) |
| icub-main | latest devel (https://github.com/robotology/icub-main/commit/4f5881acafab693f763dd277f87a8996fdea01a3) |
| idyntree

[2018-06-14 10:42] diegoferigo commented on #29
Since this period's updates broke many things I tried to start with a new and clean isolated environment in order to slowly remove variables from the big picture. After some digging I realized that the uncommented robot name in the `initTorqueBalancingYoga.m` was `icubGazeboSim` and not `iCubGazeboV2_5` -.-

Everything works fine now.

[2018-06-14 10:42] #29 closed, assigned to diegoferigo

[2018-06-14 11:18] traversaro commented on #29
@gabrielenava Do you think it make sense to not overwrite the `YARP_ROBOT_NAME` of the system in the file that we commit to the repo? Or there is some problem in Matlab to access the `YARP_ROBOT_NAME` set in the enviroment?

[2018-06-14 12:22] gabrielenava commented on #29
I guess there are no issues. It suffices to use the matlab command `getenv`. I  can open an issue for this.

[2018-06-14 12:32] gabrielenava opened #30 "Get YARP_ROBOT_NAME from the system instead of overwriting it"
At the moment, the environmental variable `YARP_ROBOT_NAME` is overwritten in the Simulink [initialization file](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga/initTorqueBalancingYoga.m#L84).

This issue is for investigating the possibility of retrieving the `YARP_ROBOT_NAME` from the system by means of the matlab function `getenv`.

[2018-06-15 11:22] lrapetti opened #31 "Improve documentation on How-to-run-torqueBalancing-on-real-iCub"
Some passages of the [How-to-run-torqueBalancing-on-real-iCub](https://github.com/robotology/whole-body-controllers/blob/master/doc/How-to-run-torqueBalancing-on-real-iCub.md) are missing or not clear for new users.

* The SIMULATION reference in the title is tricky (it is the same as [How-to-run-torqueBalancing-simulations-with-iCub](https://github.com/robotology/whole-body-controllers/blob/maste

[2018-06-19 08:10] gabrielenava commented on #31
I tried to address this issue with these commits:

https://github.com/robotology/whole-body-controllers/commit/da71167ceb03be70970f90fd4446a2309d7986dc

https://github.com/robotology/whole-body-controllers/commit/4a17108437a9fdbde551add308bf16ad4c02851a

being a very simple modification I didn't open a pull request. @lrapetti let me know if further modifications are required.

[2018-06-19 08:32] lrapetti commented on #31
Good! Now I think everything is clear!
I am closing the issue.

[2018-06-19 08:32] #31 closed, assigned to gabrielenava

[2018-06-19 09:06] traversaro commented on #31
I think we should also specify a "suitable home position" for the balancing, in

[2018-06-22 16:43] diegoferigo commented on #26
This is a challenging problem and finding a clean solution will not be easy. Let's focus on the gains since they are the more complex structure of our controllers.

Simulink models need to find the gains stored into the workspace, otherwise the values couldn't be accessed by blocks directly (e.g. _Gain_) and neither by blocks implementing a Matlab function. We cannot avoid this.

Generally speakin

[2018-06-22 17:17] S-Dafarra commented on #26
Probably I have not fully understood how the parameters are parsed inside the autogenerated code. Anyway, maybe we can hit two pigeons with a stone if we use a matlab script which fills a ``.ini`` file in a desired structure starting from the usual ``.m`` files.

I think it is necessary to have a separate script to generate the ``.ini`` file since we may need to evaluate some matlab related functi

[2018-06-22 17:28] S-Dafarra commented on #26
Another possibility could be also to save the matlab workspace directly and use [``matio``](https://github.com/tbeu/matio) inside the generated code. The C structure is then modified by matching field names with the matlab variables name saved in the ``.mat`` file.

[2018-07-05 08:35] gabrielenava commented on #10
closing. This documentation is deprecated: we now use the [robotology-superbuild](https://github.com/robotology/robotology-superbuild) instead of the [codyco-superbuild](https://github.com/robotology/codyco-superbuild).

[2018-07-05 08:35] #10 closed, assigned to nobody

[2018-07-05 08:56] caicaixia commented on #10
Sorry I didnt replied your last question,  since that time, I already gave up that simulation.
I just checked:
[code]
Not sure if it correct or not?

[2018-07-05 09:30] gabrielenava commented on #12
Closing as it seems to me the size of the repo is under control at the moment.

[2018-07-05 09:30] #12 closed, assigned to nobody

[2018-07-05 11:55] gabrielenava opened #33 "Update whole-body-controllers"
A general update is required to address several issues and to properly deal with new features such as the [autogenerated Yoga++](https://github.com/loc2/component_wholebody-teleoperation/issues/99#issuecomment-397602834). In particular, this is the list of issues that is necessary to address:

### This repo

- [x] [New features and legacy](https://github.com/robotology/whole-body-controllers/issue

[2018-07-05 14:16] gabrielenava opened #34 "Cleanup wholeBodyDynamics port names"
There is a bit of confusion in the definition of the port names for reading the external forces acting on the robot. In particular:

- the port that reads the forces acting at the robot feet is called [`/wholeBodyDynamics/right_leg/cartesianEndEffectorWrench:o`](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga/app/robots/iCubGazeboV2_5/configR

[2018-07-30 07:22] dosh1234 commented on #10
Hi! @caicaixia .When I used ICub robot iCubGazeboV2_5. I want to do the walking simulation of a robot under gazebo， I used gazebo8 ， installed iCub-models, run:
`$ export YARP_ROBOT_NAME=icubGazeboSim
$ yarpserver
$ gazebo -slibgazebo_yarp_clock.so, then insert an iCub model (iCubGazeboV2_5)`
then run
`YARP_CLOCK=/clock yarprobotinterface --config launch-wholebodydynamics.xml`
 I got some problems

[2018-08-02 18:45] gabrielenava commented on #30
I removed the setting of the `YARP_ROBOT_NAME` env. variable and I tested the modification both in simulation and on the real robot. It works fine, provided that the `YARP_ROBOT_NAME` is set in the `.bashrc` file.

here is the commit: https://github.com/robotology/whole-body-controllers/commit/9995ce8ad360bdb8d17626aeb0c93fd5f2afb3d0
Closing the issue

[2018-08-02 18:45] #30 closed, assigned to gabrielenava

[2018-08-02 18:58] gabrielenava commented on #23
This documentation has been integrated in the README file of this repo. Here is the associated commit:

https://github.com/robotology/whole-body-controllers/commit/a02f62d546defebf12f4085da32ab9a7058cb93c

[2018-08-02 18:58] #23 closed, assigned to nobody

[2018-08-03 15:39] gabrielenava commented on #34
I updated the port names on the Simulink side with [this commit](https://github.com/robotology/whole-body-controllers/commit/10ed4926aa293328df9d316f8d15a279860e1902). Now they are coherent with the quantity they stream. Anyway, the ports opened by `wholebodydynamics` still have the previous names. To fix this is more delicate and require more tests, therefore I will do it in a second time. For th

[2018-08-03 15:39] #34 closed, assigned to gabrielenava

[2018-08-21 16:45] gabrielenava commented on #27
The `DoFs Converter` block has been removed in the new WBToolbox 4.  Here is the associated commit in whole-body-controllers: https://github.com/robotology/whole-body-controllers/commit/66058883a08302a4204d670263bbca69515a9d22

Closing the issue as the data collection problem is also addressed in this other issue: https://github.com/robotology/whole-body-controllers/issues/20

[2018-08-21 16:45] #27 closed, assigned to gabrielenava

[2018-08-22 15:04] gabrielenava commented on #28
This has been implemented with this [PR](https://github.com/robotology/whole-body-controllers/pull/36). We need to decide if it is worth to integrate it or not in the controller, given that it will stop the controller as soon as the QP fails (or if modifications are required at the WBtoolbox level).

[2018-08-22 15:04] #28 closed, assigned to gabrielenava

[2018-08-22 15:05] gabrielenava commented on #33
This update session is complete. Closing.

[2018-08-22 15:05] #33 closed, assigned to gabrielenava

[2018-09-05 13:04] gabrielenava commented on #20
In view of https://github.com/robotology/wb-toolbox/issues/160, it seems that having a way to process the data  from Matlab without the need of opening the Simulink gui may become important soon.

@diegoferigo I think we should discuss if the `auto-generated` models should become very soon our standard way to run demos on the robot, and therefore address also this issue.

[2018-09-05 13:52] gabrielenava opened #38 "Check if the Simulink required integration step is respected"
In view of https://github.com/robotology/wb-toolbox/issues/160, it seems that there might be an issue with the Simulink gui that impairs the achievement of the desired integration step.

As first thing, we need to verify if there are differences between running the standard demos (Yoga, standup) from command line or from the Simulink gui.

@FabioBergonti if you already implemented a piece of code

[2018-09-05 14:56] diegoferigo commented on #20
We never cared too much about real-time performance of our models because most times everything worked fine but probably they suffer of similar issues.

At the current stage the only limitation of the autogenerated code is gain tuning, it would require work about we store parameters in the autogenerated class and it will take some time to implement something intuitive enough.

However, we should s

[2018-09-05 16:12] FabioBergonti commented on #38
Here what I did
I've added this block in my simulink model
![image](https://user-images.githubusercontent.com/38210073/45106224-6c697100-b136-11e8-994b-09b3fd24ed7d.png)
Then I evaluate `YARP_time0`
[code]
After that some plots
#### Yarp Time VS simulink time
[code]
![fig](https://user-images.githubusercontent.com/38210073/44842047-1e8bcf00-ac45-11e8-8dd4-df023cc5e710.png)

#### Delta Yarp Time
[c

[2018-09-11 15:56] gabrielenava commented on #38
Thanks @FabioBergonti! I added the checks in both the `Yoga` and `standup` models with [this commit](https://github.com/robotology/whole-body-controllers/commit/cb770c073f478f83d808a15d98b0ee1deed72c3e)

[2018-09-14 13:05] gabrielenava commented on #38
I tested the Yoga++ demo on `iCubGenova02`, both from the Simulink GUI and from command line. As you can see, I got the same results @FabioBergonti already had for the jumping demo:

**From Simulink GUI, Yarp Time Vs. Simulink Time**

![screenshot from 2018-09-14 15-00-20](https://user-images.githubusercontent.com/12396934/45551801-45462a00-b82f-11e8-91c7-ba87ac5fa0e5.png)

Looking closer:

![scre

[2018-09-14 13:09] gabrielenava opened #39 "Update all models to launch Simulink from command line"
In view of https://github.com/robotology/wb-toolbox/issues/160 and https://github.com/robotology/whole-body-controllers/issues/38, it is necessary to modify all the startup procedure of the Simulink controllers. The idea is to create a Matlab function named `startTorqueBalancingxxx.m` and the open a (static) gui that can handle the Simulink model without opening it.

[2018-09-14 13:17] traversaro commented on #39
As you may know, there is no guarantee that this new way of launching the controllers will not stop working in new versions of MATLAB, depending on how the (unknown) internal details of MATLAB change. For this reason I think it would be ideal if there is a way to always inspect the discrepancy between the real time and the simulation time, eventually printing a warning/error or stopping if the max

[2018-09-17 09:35] #38 closed, assigned to gabrielenava

[2018-09-17 09:40] gabrielenava commented on #39
I agree. I will also include a warning or error

[2018-09-17 09:51] gabrielenava opened #40 "Update Yoga ++ demo"
I need to modify some joints references for the postural task, in order not no hit the robot's joints limits. Furthermore, a new demo must be designed. The robot has to perform a "slow" yoga, followed by a "fast" yoga, while standing on the one foot. It may be the occasion for solving also this [TODO](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-base

[2018-09-17 09:55] gabrielenava opened #41 "Update hard-coded coupling matrices and reduction ratio"
Following the possible errors pointed out in https://github.com/robotology/robots-configuration/issues/76, it is necessary to update the [coupling matrices and the reduction ratio](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga/app/robots/iCubGenova04/initStateMachineYoga.m#L382) used in the controllers for computing the motors reflected ine

[2018-09-17 15:27] gabrielenava commented on #39
I've found this example: https://www.mathworks.com/matlabcentral/answers/97557-is-it-possible-to-start-and-stop-a-simulink-simulation-from-inside-a-gui I will try to follow this procedure.

[2018-09-17 15:53] gabrielenava commented on #39
Another interesting review of 3 different methods: https://blogs.mathworks.com/pick/2012/06/01/use-matlab-guis-with-simulink-models/

[2018-09-20 12:08] gabrielenava commented on #39
A first prototype of the GUI have been created in [this branch](https://github.com/robotology/whole-body-controllers/tree/noSimulinkGui). There are still a couple of things I want to solve before merging in `master`, but I already tested the GUI on `iCubGenova02`. These are the results:

**Yoga ++, from Simulink GUI**

![screenshot from 2018-09-20 13-51-04](https://user-images.githubusercontent.co

[2018-09-20 12:18] gabrielenava commented on #40
A first commit done https://github.com/robotology/whole-body-controllers/tree/repeatYogaMoveset

[2018-09-20 13:11] gabrielenava commented on #41
Done with https://github.com/robotology/whole-body-controllers/commit/ac77b9905be2926defa76b8afd8f2eb73cef8b0f. I followed the info provided in the [wiki](http://wiki.icub.org/wiki/ICub_coupled_joints) and in these two issues:

- https://github.com/robotology/robots-configuration/issues/76

- https://github.com/robotology/robots-configuration/issues/39

[2018-09-20 13:11] #41 closed, assigned to gabrielenava

[2018-09-21 14:25] gabrielenava commented on #40
First working version (tested on the iCubGenova04): https://github.com/robotology/whole-body-controllers/commit/820269a45c10c467aeb8cc5a8779e928b8e40fa2

[2018-09-24 09:45] gabrielenava commented on #40
Closing. All further modifications of the working version will be listed in the associated [PR](https://github.com/robotology/whole-body-controllers/pull/43).

[2018-09-24 09:45] #40 closed, assigned to gabrielenava

[2018-10-05 15:21] lrapetti opened #45 "Wrong torso coupling matrix"
The coupling matrix for the [torso](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga/app/robots/iCubGenova04/initStateMachineYoga.m#L447) that is used in the `whole-body-controllers` seems not compatible with the [joints order configuration](https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga

[2018-10-05 15:22] lrapetti commented on #45
@FabioBergonti

[2018-10-05 15:31] gabrielenava commented on #45
Nice! So, I recently double checked the coupling matrices and I noted the same issue related to the torso coupling matrix raws and columns (I compared the matrices with the ones in `robots-configuration`) together with other issues and I committed the modifications (https://github.com/robotology/whole-body-controllers/commit/ac77b9905be2926defa76b8afd8f2eb73cef8b0f) but apparently I forgot to fix

[2018-10-09 15:39] gabrielenava commented on #45
Fixed in this commit: https://github.com/robotology/whole-body-controllers/pull/46/commits/744677118d0f30f040f90ff36cdabf7306aded86

[2018-10-09 16:19] gabrielenava opened #47 "Create diagrams of the momentum-based controller"
To be added to the READMEs

[2018-10-09 16:29] gabrielenava opened #48 "Update README to include link to autogenerated code repo"

[2018-10-09 16:40] gabrielenava commented on #48
done with https://github.com/robotology/whole-body-controllers/commit/525d7ce3bfa8582e31c011efdb357628c70b9993

[2018-10-09 16:40] #48 closed, assigned to gabrielenava

[2018-10-09 17:38] FabioBergonti opened #49 "Shall we add the harmonic drives inertia in the motors reflected inertia"
What do you think on adding the inertia of the harmonic drives?
From the [datasheet](https://harmonicdrive.de/mage/media//catalog/category/2014_11_ED_1019659_CSD-2A.pdf) I saw their inertia and is about $0.054*10^{-4} kg m^2$ (this is the mass moment of inertia of the gearing with respect to the input)
The dimension are not so different from the motors inertia

[2018-10-10 07:50] gabrielenava commented on #49
It makes sense to me!

[2018-10-10 07:51] gabrielenava commented on #45
In the end, it has been fixed in this [PR](https://github.com/robotology/whole-body-controllers/commit/7ab9d86e5db9d6701ea36e2b6efe276ce0321a61). Closing.

[2018-10-10 07:51] #45 closed, assigned to nobody

[2018-10-10 09:55] traversaro commented on #49
![hd-1](https://user-images.githubusercontent.com/1857049/46728384-04e99880-cc83-11e8-86fb-831852ab6531.png)

Sorry for the italian.  : )
We had exactly the same discussion with @DanielePucci and @fiorisi , and we agreed that it make sense to include inertia of the part of the harmonic drive that is coupled with the motor shaft in the reflected inertias, as their order of magnitude is similar.

[2018-10-10 09:56] traversaro commented on #49
cc @triccyx given that was apparently the one that sparked the discussion

[2018-10-10 10:02] FabioBergonti commented on #49
Here a cross section of an harmonic drive
![image](https://user-images.githubusercontent.com/38210073/46728733-c1dbf500-cc83-11e8-94c9-4b7e1a897c43.png)
1. input shaft
2. wave generator
3. flexspline
4. circular spline
5. output shaft
6. housing

We have to add **only**  the inertia of the components (1) and (2), (all the rotating components before the flexspline)

[2018-10-10 10:57] gabrielenava commented on #49
According to [this document](https://harmonicdrive.de/mage/media//catalog/category/2014_11_ED_1019659_CSD-2A.pdf) and looking at the following lines:

![screenshot from 2018-10-10 12-07-04](https://user-images.githubusercontent.com/12396934/46731585-5e55c580-cc8b-11e8-8f5c-fcfc237a0831.png)
![screenshot from 2018-10-10 12-06-21](https://user-images.githubusercontent.com/12396934/46731586-5e55c580-

[2018-10-23 17:20] gabrielenava opened #51 "[Archived knowledge]: Matlab is unable to open MatlabWindow application"
It happened to me with Ubuntu 18.04 and Matlab 2018a. The instruction provided in this link solved the issue: https://www.mathworks.com/matlabcentral/answers/364551-why-is-matlab-unable-to-run-the-matlabwindow-application-on-linux

[2018-10-23 17:20] #51 closed, assigned to gabrielenava

[2018-12-06 16:35] diegoferigo commented on #26
I started working on this task and would like to reach soon a basic support for parametric controllers. Particularly, I want to add the support of performing gain tuning even from the automatically generated code. These kind of parameters are now stored in a `.m` script loaded into the workspace before the start of the simulation.

My idea is to move these parameters in a new `xml` which will be s

[2018-12-06 16:35] diegoferigo commented on #26
cc @traversaro

[2018-12-06 16:48] traversaro commented on #26
@gabrielenava can you check with our Simulink users that this is reasonable and not too much cumbersome?

General comment:
In the FMI world, the `xml` file that @diegoferigo is describing is similar to the `ssv` file as defined in the System Structure and Parameterization (SSP) standard , see slide 8 of https://github.com/modelica/ssp-standard.org/blob/master/publications/2018_American_Modelica_Co

[2018-12-07 10:22] diegoferigo commented on #26
I spoke with @gabrielenava @S-Dafarra @fabiobergonti and we reached the following conclusions:

- XML in not the right format since often we do gain tuning on these parameters, and performing math operations on them (e.g. multiply a vector parameter by 10) would not be possible
- The parameters will be stored in a binary `.mat` file (not commited)
- The `.mat` file is generated by a `.m` script, r

[2018-12-07 10:39] traversaro commented on #26
Cool.

A few comments:
* I like the `.m` --> `.mat` process. If in the future `.ssv` becomes an interesting format for  storing paramers, we can always substitute the `.mat` with the `.ssv`, and just have a `.m` --> `.ssv` step.
* Change parameters + Rerun the controller in simulink probably takes 5 seconds, and is one of the most common operations when working with a controller. It is possible to

[2018-12-07 11:15] diegoferigo commented on #26
Yes, my idea is to run the script as a pre-run callback and place the `.mat` in the same folder of the mdl. I still have to understand how to pass the folder to the controller. Since this block will be stored in the WBToolbox and not BlockFactory, we can consider using ResourceFinder at least in the beginning.

Instead of running directly the `.m` in the callback, we can have a switch (or matlab f

[2018-12-14 13:48] gabrielenava commented on #49
The [PR](https://github.com/robotology/whole-body-controllers/pull/42) is ready to be tested on the robot. Closing this issue, as the troubleshooting from now on will be done inside the PR.

[2018-12-14 13:48] #49 closed, assigned to gabrielenava

[2018-12-14 13:50] gabrielenava commented on #39
The [PR](https://github.com/robotology/whole-body-controllers/pull/42) is ready to be tested on the robot. Closing this issue, as the troubleshooting from now on will be done inside the PR.

Concerning the GUI, at this stage it has been added to the Yoga demo only. After testing it on the real robot, we may discuss if adding it also to the `standup` and `impedance` controllers in a future release.

[2018-12-14 13:50] #39 closed, assigned to gabrielenava

[2018-12-14 13:55] gabrielenava commented on #26
Yes, this line is read only once.

[2018-12-14 13:56] traversaro commented on #26
@gabrielenava so where is the logic for gain scheduling handled?

[2018-12-14 14:00] gabrielenava commented on #20
@Yeshasvitvs suggested a possible workflow in order to be able to see run time plots with Simulink. The idea is to stream the Simulink data in a `yarp port`, and then use the `yarp scope` in order to visualize the streamed data. Seems an interesting idea, but the feasibility is still to be verified. On the other hand, @FabioBergonti can provide a matlab script to perform post-processing on the dat

[2018-12-14 14:45] yeshasvitirupachuri commented on #20
For reference  check the [yarpscope xml](https://github.com/robotology-playground/forcetorque-yarp-devices/blob/master/ftShoe/conf/ftshoes_YarpScope.xml.txt) we have now for visualizing FTShoe data. I encoded the color scheme similar to matlab for the plots with in a scope.

![screenshot from 2018-12-14 15-42-22](https://user-images.githubusercontent.com/6505998/50009302-f0918700-ffb6-11e8-9e89-9b

[2018-12-14 16:19] gabrielenava commented on #26
Gain scheduling is performed only during the `yoga` (or equivalently, the `standup`) demo. In the [initStateMachineYoga.m](https://github.com/robotology/whole-body-controllers/blob/noSimulinkGui/torque-controllers/momentum-based-yoga/app/robots/icubGazeboSim/initStateMachineYoga.m#L41) file, for each gain matrix we create a corresponding "gain scheduling" matrix whose rows contain the diagonal ele

[2018-12-14 16:28] traversaro commented on #26
Perfect, so it should work fine with the proposed method, right?

[2018-12-14 16:33] gabrielenava commented on #26
If I understood correctly it should work, as we do not update the gain matrices real time, but rather we load since the beginning all the gains for all the states of the state machine, and there is a switch inside Simulink that select the correct gain matrices according to the state.

[2018-12-14 16:49] gabrielenava opened #52 "[WARNING]: WBC library of matlab functions will be transformed into a package in the future release"
In the current `master` branch, there is a [library](https://github.com/robotology/whole-body-controllers/tree/master/library/matlab) of matlab utility functions that are used by the controllers. However, we have other controllers in other github organizations, including [matlab-simulators](https://github.com/gabrielenava/matlab-multi-body-sim) that use local copies of these functions. I decided t

[2018-12-17 14:34] gabrielenava opened #53 "Add emergency stop if the encoders ratio is bigger than a threshold"
In case the joints encoders have spikes, it would be nice to have an automatic emergency stop if the encoders ratio is bigger than a threshold. To be implemented in the current release.

[2018-12-17 18:28] gabrielenava commented on #53
Feature added with this commit: https://github.com/robotology/whole-body-controllers/commit/ab14051e5e2da3fc607da3524a34bdcc45824f33

Closing the issue. Tests on the real robot are required: I will keep track of these tests in the associated [PR](https://github.com/robotology/whole-body-controllers/pull/42)

[2018-12-17 18:28] #53 closed, assigned to gabrielenava

[2018-12-20 07:30] DanielePucci commented on #49
Very well done guys. Thanks a lot

[2018-12-21 11:41] gabrielenava opened #54 "Include waist IMU"
Now the only IMU that can be used in the models is the iCub's `head IMU`. There is the possibility of changing the IMU name and therefore use different IMUs, e.g. the iCub's `waist IMU`, but it must be verified that there are no hard-coded calculations related to the `head IMU` (e.g. the [neck angle correction](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab/correct

[2018-12-21 11:41] gabrielenava commented on #52
Closing. I sent an email.

[2018-12-21 11:41] #52 closed, assigned to gabrielenava

[2018-12-21 11:45] gabrielenava opened #55 "Documentation update for release 2.5"
By adding notes and advices.

cc @aikolina

[2019-01-10 15:01] aikolina opened #56 "Fix broken links in main README"
There are many broken links in the main README. Especially in the section [Where do I find new features and legacy repos?](https://github.com/robotology/whole-body-controllers#where-do-i-find-new-features-and-legacy-repos).

Here is a list of the ones that I have found:
- [exploit friction and walking controller](https://github.com/gabrielenava/whole-body-controllers)
- all links in [Legacy](https

[2019-01-10 15:03] aikolina commented on #56
**Related issue:** [Improve documentation](#55)

[2019-01-10 17:40] gabrielenava commented on #56
I think I only updated the links in the [noSimulinkGui-branch README](https://github.com/robotology/whole-body-controllers/blob/noSimulinkGui/README.md#where-do-i-find-new-features-and-legacy-repos), while the one in `master` are old. I think I will merge the PR, as the branch has been tested twice on the robot. I will tag the current `master`.

[2019-01-10 18:19] gabrielenava commented on #56
To avoid confusion I merged the `noSimulinkGui` branch in `master`. @aikolina now `master` branch contains the most up-to-date version of whole-body-controllers. (It is not that different, apart from the [wbc library](https://github.com/robotology/whole-body-controllers/issues/52) and the static GUI). I close this issue, as the links in the README should be fine now.

[2019-01-10 18:19] #56 closed, assigned to gabrielenava

[2019-01-11 09:43] aikolina commented on #55
After discussing with @gabrielenava, we made this list of possible topics to cover.

**Possible notes:**
- describe briefly the theory behind each controller (math + diagrams) and add reference for detailed description

**Possible advice:**
- describe how to tune the CoM and joints gains for the yoga demo
- describe how to tune the regularization parameters for the yoga demo

[2019-01-14 08:43] gabrielenava opened #57 "Add the integration-based IK and the CMM blocks to the library"
There are two useful Simulink blocks I've implemented that are over-used in several controllers, also not in this repo. The two blocks are the one performing `integration-based IK` and the one for computing the` Centroidal Momentum Matrix`. I would like to add these blocks to the [library](https://github.com/robotology/whole-body-controllers/tree/master/library) folder in this repo.

[2019-01-21 17:35] traversaro commented on #26
The draft of the SSP standard is available at  https://ssp-standard.org/publications/SSP10RC1/SystemStructureAndParameterization10RC1.pdf . The relevant section is section 6, System Structure Parameter Values (SSV).

[2019-01-22 18:28] gabrielenava opened #58 "Bug in the Simulink GUI"
There is a bug in the Simulink GUI. If the user presses the **stop button twice sufficiently fast**, the controller is restarted. I will update and fix this issue. Possible solution: have separated start/stop buttons

[2019-01-23 10:14] traversaro commented on #26
I checked the draft, and apparently 1.0 will not support vector/matrix parameters, so it is quite useless at the moment for our use case. I guess vector parameters will come with version 1.1, currently planned for the end of 2019/beginning of 2020 (see slide 12 of https://ssp-standard.org/publications/2018_American_Modelica_Conference/2018_Usermeeting_SSP-StatusandPlans.pdf).

[2019-02-05 15:51] gabrielenava opened #59 "[Archived knowledge] Matlab crashes when opening Simulink scopes"
I had issues on Ubuntu 18.04 LTS with Matlab 2018a: very often, after running a Simulink simulation with Gazebo, Matlab crashes after trying to open a scope.

I fixed the issue by running Matlab from terminal as follows:

[code]

[2019-02-05 15:52] #59 closed, assigned to gabrielenava

[2019-02-05 15:54] gabrielenava opened #60 "Porting to the new WBT v5"
Here is the reference issue in WB-Toolbox:

https://github.com/robotology/wb-toolbox/issues/167

The porting will be performed in a `devel` branch.

[2019-02-13 16:16] traversaro commented on #49
Related Pinocchio issue: https://github.com/stack-of-tasks/pinocchio/issues/440 .

[2019-02-14 15:32] gabrielenava opened #61 "Include motor reflected inertia in the balancing controller"
### References:
[Exploiting Friction in Torque Controlled Humanoid Robots](https://ieeexplore.ieee.org/document/8594505), 2018 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS) Madrid, Spain, October 1-5, 2018

### Issue recap: how to add motor reflected inertia with coupled joints to the rigid body system dynamics

Consider the following equations of motion for a humanoid

[2019-02-14 15:39] gabrielenava commented on #61
Pointers to the code:

https://github.com/robotology/whole-body-controllers/blob/master/torque-controllers/momentum-based-yoga/app/robots/iCubGazeboV2_5/initCoordinator.m#L86

https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/computeMotorsInertia.m

https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/addMotorsInertia.m

[2019-02-14 16:01] #61 closed, assigned to gabrielenava

[2019-02-14 16:17] jcarpent commented on #61
@gabrielenava Thank you for these nice explanations.
I'm surprised to not see in Eq. (3) the presence of Coriolis terms, like a Gyro would do. Is it a simplification for getting simpler equations?

[2019-02-14 16:34] gabrielenava commented on #61
If I'm not mistaken, eq. (3) should be correct provided that one of the modeling assumptions we did holds, in particular:

which results in a constant and diagonal motors inertia matrix I_m.

However, concerning the dynamic modelling with motors inertia, I just realized that there is another reference that can be very useful, in particular slides 10-17:

http://www.diag.uniroma1.it/~deluca/ADL_Dot

[2019-02-14 16:51] jcarpent commented on #61
Sounds reasonable for motors that are fixed with respect to a Galilean frame.
But I would say this is not true for a motor embedded in a link which is rotating in the air. Do you agree this last observation?

[2019-02-14 19:47] gabrielenava commented on #61
I think I finally  got your point now :-) I reviewed the equations with the help of @traversaro and we come up with this explanation (I hope I'll be able to write it down in a clear and complete way):

Consider one single motor, and define the following reference frames:

- R is a frame attached to the rotor;
- I is a Galilean (inertial) frame;

then, if I got the problem, the equations representi

[2019-02-14 20:03] jcarpent commented on #61
Our details are totally clear. Thank you very much for taking this time.
Do we know how much these assumptions are correct? For a humanoid robot, for instance, I guess it will mostly depend on the maximal relative angular velocity.

[2019-02-15 08:04] gabrielenava commented on #61
No idea, but one interesting point may be that the assumption was originally done for a different use case, that was to represent and control the motors' dynamics in case of elastic joints. Maybe (but this is only my assumption) given that our scope is just to add motors reflected inertia to the joints' mass matrix, it is possible to relax/remove this assumption and just properly compute and inclu

[2019-02-15 09:26] jcarpent commented on #61
Yes, sure. It would be interested indeed.
I will give a try and let you know.

Thank you again for your time and very clear explanations.

[2019-02-28 17:49] gabrielenava commented on #7
Closing as it may be possible to use [blockfactory](https://github.com/robotology/blockfactory) to create the high-level library of Simulink blocks, rather than the simulink `model` block.

[2019-02-28 17:49] #7 closed, assigned to gabrielenava

[2019-02-28 17:51] gabrielenava commented on #8
For the moment I'll close this issue, as for dealing with different Simulink versions until now it sufficed to use the [export_WBC](https://github.com/robotology/whole-body-controllers/blob/master/config/export_WBC.m) script.

[2019-02-28 17:51] #8 closed, assigned to diegoferigo

[2019-03-05 17:22] gabrielenava commented on #60
[devel](https://github.com/robotology/whole-body-controllers/tree/devel) branch has been created. Ready for the porting.

[2019-03-05 17:23] gabrielenava commented on #58
Bug has been fixed in the [devel](https://github.com/robotology/whole-body-controllers/tree/devel) branch. Ready for testing it on the robot.

[2019-03-05 17:25] gabrielenava commented on #57
Both blocks have been added in the [devel](https://github.com/robotology/whole-body-controllers/tree/devel) branch. In particular, the CMM block can be found in the [library](https://github.com/robotology/whole-body-controllers/tree/devel/library/simulink-library), while the integration-based IK is actually used in the [floating-base-position-control-balancing](https://github.com/robotology/whole-

[2019-03-05 17:25] #57 closed, assigned to gabrielenava

[2019-03-05 17:27] gabrielenava commented on #54
Support for all kind of IMUs (not only the waist) is now present in the [floating-base-balancing-torque-control](https://github.com/robotology/whole-body-controllers/tree/devel/controllers/floating-base-balancing-torque-control) controller in the [devel](https://github.com/robotology/whole-body-controllers/tree/devel) branch. Closing.

[2019-03-05 17:27] #54 closed, assigned to gabrielenava

[2019-03-05 17:54] gabrielenava opened #62 "Support dynamics integration inside Simulink"
In the [devel](https://github.com/robotology/whole-body-controllers/tree/devel/controllers/floating-base-balancing-torque-control) branch, I've modified all the Simulink controllers to isolate all the input/outputs from/to the Gazebo simulator:

![screenshot from 2019-03-05 18-49-13](https://user-images.githubusercontent.com/12396934/53825789-6fbfa700-3f77-11e9-92d6-a5e14beef537.png)

This new con

[2019-03-05 18:00] #58 closed, assigned to gabrielenava

[2019-03-06 11:41] gabrielenava opened #64 "Document the naming convention for the variables saved in the Matlab workspace"
In the new `devel` branch, I've changed the visualization part in the Simulink models and therefore also the variables that are saved in the Matlab workspace after stopping the model. This issue is to document the new naming convention.

[2019-03-06 17:22] gabrielenava commented on #60
New gui has been tested on `iCubGenova04`: it was working fine.

related commit: https://github.com/robotology/whole-body-controllers/commit/61c9edd9cc5dc997b1438110a52f462c7e2e5ca3

closing the issue.

[2019-03-06 17:22] #60 closed, assigned to gabrielenava

[2019-03-07 09:12] gabrielenava commented on #64
| Variable name          | Fixed-base-joint-control | Floating-base-position-control | Floating-base-torque-control |
|------------------------|--------------------------|--------------------------------|------------------------------|
| jointPos_DATA          |             Y            |               Y                |               Y              |
| jointPos_Error_DATA    |             Y

[2019-03-07 09:13] gabrielenava commented on #64
Documentation on the naming convention added. Closing the issue as archived knowledge.

[2019-03-07 09:13] #64 closed, assigned to gabrielenava

[2019-03-07 09:15] gabrielenava commented on #20
For data naming convention in `whole-body-controllers`, refer to this issue: https://github.com/robotology/whole-body-controllers/issues/64

[2019-04-04 08:59] gabrielenava commented on #62
@giulero let's discuss about this task today afternoon. Is is fine for you?

[2019-04-04 09:14] traversaro commented on #62
Related WB-Toolbox issue: https://github.com/robotology/wb-toolbox/issues/164 .

[2019-04-04 10:05] traversaro commented on #62
Ideally in the future it would be great to automatically generate a BlockFactory or FMI block for the "MOMENTUM BASE TORQUE CONTROL" model (see for example https://github.com/CATIA-Systems/FMIKit-Simulink), instead of just generating a complete executable of the complete simulation as we are doing now. Ideally, this would enable us for example to import the momentum based torque control in the wal

[2019-04-11 11:55] fjandrad commented on #64
@gabrielenava you can update with the jerk controller

[2019-05-17 13:01] Giulero opened #65 "Corrupted Stateflow block MATLAB Function"
Using Simulink (Matlab 2019a) and Ubuntu 18.04.

I've obtained this error running a simulink model:
[matlabError.txt](https://github.com/robotology/whole-body-controllers/files/3191487/matlabError.txt)

Even If I don't run the model in the `simulink diagnostic viewer` this error appears several times:
[code]

I've also noticed that, if I try to copy a block, in the `Matlab command windows` appears

[2019-05-17 13:12] #65 closed, assigned to nobody

[2019-06-30 17:44] yeshasvitirupachuri commented on #52
@gabrielenava The PR link is broken.

[2019-07-01 09:40] gabrielenava commented on #52
link restored, thanks!

[2019-07-01 09:47] gabrielenava opened #66 "Add joystick to the state machine"
At LAAS, the joystick is integrated in the Simulink controller so that it is possible to see from Simulink when the user presses a button. Here is the package: http://robotpkg.openrobots.org/robotpkg/hardware/joystick-genom3/

I don't know how much it is complicated to implement something similar for YARP, but I guess most of the work is already done as we already use the joystick for walking.

If

[2019-07-01 20:23] DanielePucci commented on #66
Nice catch @gabrielenava

CC
@traversaro @diegoferigo

[2019-07-03 12:09] yeshasvitirupachuri commented on #38
@venusPasandi FYI

[2019-07-08 22:09] gabrielenava opened #67 "[Archived knowledge] Is your Simulink controller running real time?"
I am having a lot of interesting discussions here in LAAS with Simulink users about Simulink real-time performances. Here it is what I understood so far, I hope it will be useful for finally clarify some open questions we had also at IIT.

**1) I am using the yarp real time synchronizer. Is my Simulink controller running real time?**

It means that **most of the time** your Simulink controller wil

[2019-07-08 22:18] gabrielenava commented on #67
cc Simulink users @Yeshasvitvs @diegoferigo @lrapetti @Giulero @VenusPasandi I just wrote this to organize a bit the idea as I am now working with Simulink on a system with much more time precision required than iCub. If you have time and patience for reading it it may be useful for you also :-)

[2019-07-09 07:01] VenusPasandi commented on #67
@gabrielenava it is a really nice report! :heart:

I am a bit in doubt about the `synchronizer`! As I checked [here](https://github.com/robotology/wb-toolbox/blob/master/toolbox/library/src/RealTimeSynchronizer.cpp#L136), when the Simulink is slower than the real time, the synchronizer does nothing! Actually, the synchronizer works for the cases that the Simulink is so fast! Am I right?

[2019-07-09 07:56] gabrielenava commented on #67
Yes exactly, this is what I meant saying that the Synchronizer has "no sudo powers" over Simulink: the synchronizer works under the assumption that Simulink is able to perform all the calculations `faster` that the user-defined time step. If Simulink actually at some iteration takes longer, there will be a delay.

Note that the synchronizer in `catchup delay` mode is not `forcing` Simulink to run

[2019-07-12 12:24] #67 closed, assigned to gabrielenava

[2019-07-16 12:22] gabrielenava opened #68 "Include "gotoWholeBodyControllers.m" script in the WBC repo"
The idea is to have a Matlab script that implements the command line instruction:

[code]

The script must:

- update automatically the `$MY_PATH_TO_WBC` variable according to the user's path.
- install the file inside `Documents/Matlab` folder (in general, in the Matlab `userpath`).

There are two ways of doing this:

- append this generation in the [startup_WBC.m](https://github.com/robotology/w

[2019-07-29 10:46] traversaro commented on #67
It may be worth to also add a link to this relevant issue: https://github.com/robotology/wb-toolbox/issues/160 (in this way this issue is also linked back there).

[2019-09-18 08:50] traversaro commented on #62
cc @nunoguedelha

[2019-10-10 10:15] gabrielenava opened #69 "Apply constraints on Kronecker product"
I've found this theory I've developed some months ago about applying constraints when computing the Kronecker product. in particular, we would like to find the matrix $X$ that satisfies the matrix equivalence:

$AXB = C$

when $X$ is subject to some constraints, such as:

- $X$ must be **diagonal**
- $X$ must be **symmetric**

Adding the theory here to avoid losing it.

[2019-10-10 10:15] gabrielenava commented on #69
Consider a square matrix $X \in \mathbb{R}^{n \times n}$. Define the square matrix $X_d$ such that:

\begin{equation}
    X_d(i,j) = 0 \hspace{0.25cm} \forall i \neq j \\\\
   \hspace{0.95cm} X_d(i,j) = X(i,j) \hspace{0.25cm} \forall i = j
\end{equation}

Define also the square matrix $X_t = X^\top$.

The question is: how can I write analytically the mapping $X \to X_d$ and $X \to X_t$?

**Answer:

[2019-10-10 10:17] #69 closed, assigned to gabrielenava

[2019-10-10 10:32] gabrielenava opened #70 "Whole Body Controllers Release 2.5"
The 2.5 release of whole-body-controllers will **NOT** change the current repo structure, but will mainly be focused on adding **new features**. It will be an ambitious release, so it will probably take some time to be achieved. Here is the list of changes:

- [x] [support data processing of data coming from Simulink](https://github.com/robotology/whole-body-controllers/issues/20)
- [x] [avoid to

[2019-10-10 10:38] gabrielenava opened #71 "Import functions and remove deprecated in the WBC library"
There are some functions that are sparse in the `dic-iit` github organization and that can be collected inside the library. This issue is for keep trace of the new functions that will be added.

[2019-10-10 10:41] gabrielenava opened #72 "Investigate if it makes sense to port Jerk control in wbc"
I would like to include `jerk control` in wbc, but before it is necessary to analyze the ratio between effort and benefits.

[2019-10-10 10:42] gabrielenava opened #73 "Investigate if it makes sense to port Friction Exploitation control in wbc"
I would like to port the `friction exploitation controller` in wbc, but before it is necessary to understand the ratio between effort and benefits.

[2019-10-10 10:43] gabrielenava opened #74 "Investigate if it makes sense to port matlab-multi-body-sim in wbc"
I would like to port `matlab-multi-body-sim` in the wbc, but before I need to understand the ratio between effort and benefits

[2019-10-10 10:48] gabrielenava opened #75 "Update startup_WBC.m and startup_robotology_superbuild.m"
I understood that adding the `wbc` library using the [startup file](https://github.com/robotology/whole-body-controllers/blob/master/config/startup_WBC.m) is not really straightforward, even if it is documented. In particular, it is not a straightforward procedure for who installed this repo through the `robotology-superbuild`, that is the majority of the users. Maybe we can find alternatives for

[2019-10-10 10:53] gabrielenava opened #76 "Simplify the simulation pipeline"
Workflow  for testing the controller with Gazebo is long, it requires to manually start several devices and several minutes to perform one single test. It would be nice to automatize the workflow as much as possible.

[2019-10-10 10:57] traversaro commented on #76
Related issue: https://github.com/robotology/wb-toolbox/issues/164 .

[2019-10-15 10:33] gabrielenava commented on #75
I would like to have the possibility to independently configure WBC without the superbuild, while on the other hand we need to simplify the installation procedure in case the repo comes along with the `robotology-superbuild`. I think we can proceed as follows:

- add to the [startup_robotology_superbuild.m](https://github.com/robotology/robotology-superbuild/blob/master/cmake/template/startup_robo

[2019-10-15 10:48] gabrielenava commented on #74
It makes sense to me in general, but there are two **blocking points**:

1) the best solution would actually be to **include Gazebo as a Simulink block to simulate the system's dynamics**, or maybe just implement the **forward dynamics integration** inside Simulink. In this way controllers are not duplicated in Matlab.

2) the `iDyntree visualizer` requires to have a modified set of meshes in orde

[2019-10-15 10:48] #74 closed, assigned to gabrielenava

[2019-10-15 12:47] gabrielenava commented on #20
with [this commit](https://github.com/robotology/whole-body-controllers/pull/77/commits/1b80900dc6736d40d3d4cd56687193108f651554) I've added a Matlab script that automatically locates and processes the data coming from Simulink.

I will therefore close this issue, and I will open a new issue specifically for having **runtime plots** with yarpscope, as detailed in [this comment](https://github.com/

[2019-10-15 12:47] #20 closed, assigned to gabrielenava

[2019-10-15 12:50] gabrielenava opened #78 "Add runtime plot of simulink variables"
@Yeshasvitvs suggested a possible workflow in order to be able to see run time plots with Simulink. The idea is to stream the Simulink data in a `yarp port`, and then use the `yarp scope` in order to visualize the streamed data. Seems an interesting idea, but the feasibility is still to be verified. On the other hand, @FabioBergonti can provide a matlab script to perform post-processing on the dat

[2019-10-15 12:51] gabrielenava commented on #78
For reference  check the [yarpscope xml](https://github.com/robotology-playground/forcetorque-yarp-devices/blob/master/ftShoe/conf/ftshoes_YarpScope.xml.txt) we have now for visualizing FTShoe data. I encoded the color scheme similar to matlab for the plots with in a scope.

![screenshot from 2018-12-14 15-42-22](https://user-images.githubusercontent.com/6505998/50009302-f0918700-ffb6-11e8-9e89-9b

[2019-10-15 13:01] gabrielenava commented on #73
I think the answer is to the issue title is **NO** for the following reasons:

1) it is a huge work of porting and update, for a controller that is not effectively used on the real iCub;
2) the stability of the **zero dynamics** of the proposed controller has never been verified. I remember the momentum control was defining a stable closed loop momentum dynamics, but then additional terms appear i

[2019-10-15 13:01] #73 closed, assigned to gabrielenava

[2019-10-15 13:09] gabrielenava opened #79 "Migrate the friction exploitation control in whole-body-controllers"
The issue is a remainder of the activity @nunoguedelha is carrying on. Given his recent results with the current control framework, it would be nice to have the `whole-body` friction exploitation controller among the available WBC controllers.

Time and type of controller (fixed base of floating base?) still have to be defined.The [friction exploitation framework](https://github.com/robotology-leg

[2019-10-15 13:14] gabrielenava commented on #72
Differently from the other two controllers https://github.com/robotology/whole-body-controllers/issues/74 and https://github.com/robotology/whole-body-controllers/issues/73, I do believe that **it is worth** to bring the jerk control as a **separate additional controller** to the WBC repo.

Here are the reasons:

1) the controller is still used, therefore porting and maintenance is easier;
2) it c

[2019-10-15 13:25] gabrielenava commented on #76
A possible solution for now may be to design a `yarpmanager` application as @diegoferigo suggested. Then, the same application can also be used on the real iCub.

[2019-10-15 15:21] nunoguedelha commented on #79
Regarding the friction exploitation VS compensation feature, I have a proposal that I mentioned to @DanielePucci some time ago. I am documenting it [here](https://github.com/dic-iit/element_torque-control-via-current/issues/79).

[2019-10-16 09:35] gabrielenava commented on #68
A clean way to do this is to automatically generate the file by adding something like this to the [startup_WBC.m](https://github.com/robotology/whole-body-controllers/blob/master/config/startup_WBC.m) file (and consequently, to the [startup_robotology_superbuil.m](https://github.com/robotology/robotology-superbuild/blob/master/cmake/template/startup_robotology_superbuild.m.in) file):

https://www.

[2019-10-16 09:42] gabrielenava commented on #62
For the moment, I will create a simple subsystem that:

- compute the `forward dynamics` for a floating base robot, assuming the joint torques are given by the controller;

- integrate the `forward dynamics`;

- can switch from one foot to two feet balancing, but only assuming contacts are rigid and ideal (no proper modeling of contacts like in Gazebo);

- only interface our over-used controller,

[2019-10-29 11:35] gabrielenava opened #80 "Migrate home-positions from codyco-modules"
We need to migrate home-positions for the iCub robots (namely, these files: https://github.com/robotology/codyco-modules/tree/master/src/modules/torqueBalancing/app/robots) inside the WBC repository. These files require installation, therefore we need to:

- locate them in a proper folder in the WBC repo;
- add the `CMake` file for installing the files;
- document the necessity of installing these

[2019-10-29 12:50] S-Dafarra opened #81 "Print the joints which undergo spikes when the emergency stop on encoders ratio triggers"
The Yoga has an emergency stop when the encoder ratio is bigger than a threshold. This is pretty useful, even if, when it triggers, it would be helpful to understand which joint  triggered it and what was the entity of the spike

[2019-10-29 12:53] S-Dafarra opened #82 "Avoid to recompile the model every time when using the static GUI"
Often, we need to run the YOGA from the static GUI multiple times in a row without changing anything. It is ok to compile the first time, but maybe after pressing STOP we could save some time by letting the user press START without compiling.

[2019-11-05 08:50] kouroshD opened #83 "Tune retargeting yoga"
According to https://github.com/dic-iit/component_wholebody-teleoperation/issues/194

It is preferable to align the code to the whole-body-controller master branch after testing and tuning. We need to discuss it we @DanielePucci and @gabrielenava .

We will tune the smoothing parameters, so that the performance of retargeting increases.

[2019-11-05 08:51] kouroshD commented on #83
@gabrielenava  response:

there is also a devel branch to which I commit new features. At the moment, the devel branch has:

updated documentation;
new offline automatic plotting of Simulink data;
other minor fixes.
There are also some feature request like robotology/whole-body-controllers#82 and robotology/whole-body-controllers#81 that I was thinking to implement in devel.

Maybe we can proceed

[2019-11-05 08:52] kouroshD opened #84 "Investigate how switch feet for yoga retargeting"
According to: https://github.com/dic-iit/component_wholebody-teleoperation/issues/194

Since, the ft shoes now are quite reliable we may go for that. Maybe also wireless shoes if possible. Something to e discussed with @DanielePucci . Other options can be using the joypads, or some threshold on the kinematic side.

Currently, the change from single support to double support is not tested and check

[2019-11-05 14:20] lrapetti opened #85 "Links in the wiki not working"
Most of the links in the wiki page https://github.com/robotology/whole-body-controllers/wiki/whole-body-controllers-documentation seem to be outdated or pointing to non existing pages (if I try to open the links I get the following error message: `You do not have permission to update this wiki.`)

[2019-11-05 17:55] gabrielenava commented on #85
I tried, something strange happened. In my case, it opens a GUI for creating  a new wiki page instead of opening the links. I guess i broke something, I'll investigate the problem

[2019-11-06 14:14] gabrielenava opened #86 "Decide where to locate the Yoga retargeting code"
Options may be:

- separate repo

- inside `whole-body-controllers`

cc @DanielePucci

[2019-11-06 14:16] gabrielenava commented on #86
cc @Yeshasvitvs @kouroshD

[2019-11-06 14:17] yeshasvitirupachuri commented on #83
Yoga retargeting is currently available in my fork on a branch https://github.com/Yeshasvitvs/whole-body-controllers/tree/feature/yoga-retargeting

As discussed yesterday, it is better to have it in the upstream https://github.com/robotology/whole-body-controllers on the devel branch as @gabrielenava suggested in https://github.com/robotology/whole-body-controllers/issues/83#issuecomment-549724319

[2019-11-06 14:45] yeshasvitirupachuri commented on #86
Considering that yoga retargeting will be a viable demo in the future, I vote for inside `whole-body-controllers` as I see it to be easier for maintaining in the future and be aligned with the recent updates on the yoga controller

[2019-11-11 14:02] DanielePucci commented on #84
Nice @kouroshD, wireless or wired shoes are a nice idea! Contact retargeting I guess is another open problem

[2019-11-11 16:18] DanielePucci commented on #86
For me, `whole-body-controllers` seems a good choice

[2019-11-20 18:10] gabrielenava commented on #84
Now the latest version of the yoga retargeting can switch from one foot to two feet balancing. Closing the issue.

[2019-11-20 18:10] #84 closed, assigned to gabrielenava

[2019-11-20 18:11] gabrielenava commented on #83
Now the latest version of the yoga retargeting has been fine tuned and can work robustly both on the left and on the right foot. closing.

[2019-11-20 18:11] #83 closed, assigned to gabrielenava

[2019-11-22 08:13] kouroshD commented on #84
The implementation is in this branch https://github.com/Yeshasvitvs/whole-body-controllers/tree/feature/kinematicSwitch . we should do some additional tests, and add it to robotology branch.

[2019-11-28 09:30] kouroshD commented on #83
The latest version of the code is located in this branch https://github.com/Yeshasvitvs/whole-body-controllers/tree/feature/kinematicSwitch

[2019-12-02 00:47] traversaro commented on #76
This plugin may permit to run the whole body controllers without launching an external wholebodydynamics: https://github.com/robotology/gazebo-yarp-plugins/pull/457 .

[2019-12-02 00:47] traversaro commented on #76
This plugin may permit to run the whole body controllers without launching an external wholebodydynamics: https://github.com/robotology/gazebo-yarp-plugins/pull/457 .

[2020-02-19 15:57] gabrielenava commented on #86
@Yeshasvitvs @kouroshD feel free to fork `devel`, add the `yoga retargeting` and open a PR on `devel` for this issue.

[2020-02-19 15:58] gabrielenava commented on #86
Closing as we decided the code location.

[2020-02-19 15:58] #86 closed, assigned to gabrielenava

[2020-02-19 16:03] gabrielenava commented on #80
Done with this commit: https://github.com/robotology/whole-body-controllers/commit/36d905658c657681208dfb106dcf53703d9738d3

Installation tested with the robotology superbuild and seems working fine. It is in `devel` branch for now, but [PR](https://github.com/robotology/whole-body-controllers/pull/77) for merging in master is already opened.

NB: to keep the commit history readable, modifications

[2020-02-19 16:03] #80 closed, assigned to gabrielenava

[2020-02-19 16:12] gabrielenava commented on #85
All links have been fixed. Closing.

[2020-02-19 16:12] #85 closed, assigned to gabrielenava

[2020-02-19 16:17] gabrielenava commented on #62
This has been now done due to unexpected necessities. There is now a [simulink-balancing-simulator](https://github.com/robotology/whole-body-controllers/commit/272941bcf18828c4306afd816faa9fa21e158add) in `devel` branch that implements forward dynamics integration in Simulink. It is a first version and some things can be improved, but it =can be used as baseline for developing more complex simulat

[2020-02-19 16:17] #62 closed, assigned to gabrielenava

[2020-02-19 16:20] gabrielenava commented on #71
Moved to `next software upgrade` as not necessary at the moment.

[2020-02-19 16:21] traversaro commented on #80
How did you tested that the files are correctly be found? As far as I can see, the robots are installed n `<prefix>/share/wbc`, and so you would need to install that dir to `YARP_DATA_DIRS`. To avoid having to deal with a new value to the env variables, I suggest to install the robots files in `share/yarp/robots`, so that we do not have do deal with a new env variable value for these files?

[2020-02-19 16:21] gabrielenava commented on #66
Moved to `backlog` as in the end it does not seem it is really useful for the `yoga` demo.

[2020-02-19 16:29] gabrielenava commented on #80
I run `yarp resource --find homePosBalancing.ini` after uninstalling the previous installed home positions and I was able to find the home positions in the correct path (<prefix>/share/wbc) so I concluded that this path was already included in the `YARP_DATA_DIRS` variable because of the `robotology-superbuild` settings. But it is ok for me to install in `yarp` folder instead.

[2020-03-12 18:57] gabrielenava commented on #72
I want to release the code as soon as possible, and the `jerk control` is still under review and not public. I will release the code without adding the jerk control at this round, and I will add the jerk control in a future release.

Closing the issue.

[2020-03-12 18:57] #72 closed, assigned to gabrielenava

[2020-03-12 19:01] gabrielenava opened #87 "Migrate the jerk control in whole-body-controllers"
Following https://github.com/robotology/whole-body-controllers/issues/72, I will migrate the jerk control inside this repository.

I want to wait the [associated paper](https://arxiv.org/pdf/1907.11906.pdf) to receive its final evaluation before migrating the code, then I'll port the code in WBC.

[2020-03-12 19:05] gabrielenava commented on #82
This logic was done because I was afraid about the possibility that the user starts the controller by mistake by clicking on the "start" button.

I think the best way is to add a check button. If it is checked, the user will not be forced to recompile the code.

So also the "safe" option (recompile every time before pressing start) is preserved.

[2020-03-12 19:19] gabrielenava commented on #70
I've increased the priority of the release and of the associated issues, with the objective of doing a sprint and close the release.

[2020-03-13 09:54] traversaro commented on #87
Just to understand, this is blocking WBC 2.5 release or not?

[2020-03-13 11:10] gabrielenava commented on #87
@traversaro  No, it has been removed from the WBC 2.5 release. All the issues to be addressed for the 2.5 release have the `high priority` tag.

[2020-03-13 18:34] gabrielenava commented on #68
Now the `goToWholeBodyControllers.m` will be **generated automatically** when the user runs the [startup_WBC.m](https://github.com/robotology/whole-body-controllers/blob/devel/config/startup_WBC.m#L82) script. See also https://github.com/robotology/whole-body-controllers/commit/587fe6a07f71db16914abe283e0d94e8bb0a35ad

Documentation has been updated: https://github.com/robotology/whole-body-contro

[2020-03-13 18:34] #68 closed, assigned to gabrielenava

[2020-03-16 12:53] gabrielenava commented on #76
I've decided to postpone also this activity from the `2.5` release to the `3.0` release.

The motivation is that to create the `yarpmanager` application requires a certain amount of work, as I need to create the files, then modify the `CMakeLists` accordingly, then testing the new feature at least in simulation for all the controllers and finally update the documentation.  Everything to be  done f

[2020-03-16 13:51] gabrielenava opened #88 "Implement github actions"
I think a simple GitHub action could at least verify that:

- there are no problems in compiling the repository, even if `compiling` at the moment (release `2.5`) simply means `make install` the [home positions](https://github.com/robotology/whole-body-controllers/tree/devel/utilities/homePositions);

- the Simulink models in `master` are all exported in the minimum supported version (R2017b), as

[2020-03-17 15:05] gabrielenava opened #89 "Implement a block to check if the measured forces violate the contact constraints"
Given the [momentum-based torque control](https://github.com/robotology/whole-body-controllers/tree/master/controllers/floating-base-balancing-torque-control) already receives as input the measured contact forces for the state machine, we can implement a check to verify that these forces do not violate the [contact stability constraints](https://github.com/robotology/whole-body-controllers/blob/ma

[2020-03-17 15:27] gabrielenava commented on #81
Here, the cleanest solution is to save to workspace the [vector that contains the check done on each single joint](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/checkSpikes.m#L34), then in the [function that runs when the model is stopped](https://github.com/robotology/whole-body-controllers/blob/master/controllers/floating-base-balancing-torque-control

[2020-03-17 15:29] gabrielenava commented on #81
Also the [check_range](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/checkRange.m) function can be updated in the same way.

[2020-03-17 15:30] S-Dafarra commented on #81
What about copying into a new one and deprecating the old one?

[2020-03-17 18:15] gabrielenava commented on #82
I've implemented this request: now the GUI also has a checkbox as follows:

![Screenshot from 2020-03-17 19-01-54](https://user-images.githubusercontent.com/12396934/76887966-5a1bd780-6883-11ea-8c66-bc9877cb79f1.png)

if you check it, the `start model` won't be disabled after stopping the simulation and therefore it will be possible to press it without the need of recompiling the model. I am curre

[2020-03-17 18:31] gabrielenava commented on #81
You convinced me, so let's do the following:

- I create two new functions `checkInputRange` and `checkInputSpikes`;

- I leave [checkRange](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/checkRange.m) and [checkSpikes](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/checkSpikes.m) in the library but I'll add a

[2020-03-18 15:01] gabrielenava commented on #81
It was necessary to add a `unit delay` block because otherwise the `vector that contains the check done on each single joint` at time t = t_fail is not sent to workspace. But for the rest, I've implemented it.

After my testing session I'll add the commit and close the issue.

[2020-03-18 17:36] gabrielenava commented on #82
The new GUI has been tested with all models. It worked fine.

Here is the commit: https://github.com/robotology/whole-body-controllers/commit/bdbf7fdb23600ba9bfa0cbb1b10b2b60daf8096b

Here the parts of the commit relevant for this issue:

https://github.com/robotology/whole-body-controllers/commit/bdbf7fdb23600ba9bfa0cbb1b10b2b60daf8096b#diff-a084b794bc0759e7a6b77810e01874f2L34

https://github.com

[2020-03-18 17:36] #82 closed, assigned to gabrielenava

[2020-03-18 17:39] gabrielenava commented on #71
Deprecated:

-https://github.com/robotology/whole-body-controllers/blob/devel/library/matlab-wbc/%2Bwbc/checkRange.m

-https://github.com/robotology/whole-body-controllers/blob/devel/library/matlab-wbc/%2Bwbc/checkSpikes.m

[2020-03-18 17:42] gabrielenava commented on #81
Tested. Here is the message when the joint hits the limits:

![limits](https://user-images.githubusercontent.com/12396934/76990288-03c49c80-6948-11ea-829f-a701d02e63d4.png)

Here is the message when the joint has a spike:

![spike](https://user-images.githubusercontent.com/12396934/76990328-13dc7c00-6948-11ea-9cb5-1b6dca6e251d.png)

Here is the part of the commit relevant for this issue (part of t

[2020-03-18 17:42] #81 closed, assigned to gabrielenava

[2020-03-18 17:48] S-Dafarra commented on #81
Awesome!

[2020-03-18 17:49] S-Dafarra commented on #82
Thanks!

[2020-03-18 17:52] gabrielenava commented on #47
For documentation I've decided to proceed as follows:

1) For the topic of this issue, for the moment I will add a figure of what's inside the simulink model in the READMEs. I think it may help to give people an idea of how the controller is designed even from the github browser;

2) I will open a single issue for documentation with the format "Update documentation for release XX", in which I'll d

[2020-03-18 18:07] gabrielenava commented on #47
First test done, it is nice: https://github.com/robotology/whole-body-controllers/blob/devel/controllers/fixed-base-joints-torque-control/README.md

I'll update all the other readmes.

[2020-03-18 18:13] gabrielenava commented on #47
All readmes updated, closing the issue.

[2020-03-18 18:13] #47 closed, assigned to aikolina, gabrielenava

[2020-03-18 18:23] gabrielenava commented on #70
## CHANGELOG V2.5 (to be copied in the release description)

### New features

- added a data processing pipeline #20
- added a Simulink model which also integrates the system's dynamics #62
- added home positions for the `yarpmotorgui` #80

### Enhancements

- when a joint hits the limits or a spike is detected, the name of the joint is printed in a warning #81
- it is possible now to skip recomp

[2020-03-18 19:12] gabrielenava commented on #75
To comply with the workflow of the `robotology-superbuild`, I think it is better if the `+wbc` library is installed and then Matlab links to the installed files. Note that the very same pipeline is done in [mex-wholebodymodel]() and for the [iDyntree-high-level-wrappers](), while whole-body-controllers library still points the source code instead of the installed one.

Documentation has also to be

[2020-03-18 19:21] gabrielenava commented on #75
No, actually I think the current pipeline is better for handling also the installation of the `goToWholeBodyControllers.m` file. I'll open the PR to the robotology-superbuild.

[2020-03-18 19:44] gabrielenava commented on #75
PR open: https://github.com/robotology/robotology-superbuild/pull/367

[2020-03-18 19:57] gabrielenava commented on #55
Documentation fully updated. Closing the issue and opening the one for release `3.0`.

[2020-03-18 19:57] #55 closed, assigned to aikolina, gabrielenava

[2020-03-18 19:59] gabrielenava opened #90 "Update documentation for next release"
Here are some advices (see also https://github.com/robotology/whole-body-controllers/issues/55#issuecomment-453454680):

[2020-03-19 08:33] traversaro commented on #75
Note that you can also think of installing the `startup_WBC.m` script, and  then call that from the robotology superbuild script. Just  a question: why we don't install the `+wbc` directory directly to the `<install_prefix>/mex` directory as we already do with YARP and Matlab so there is no need to modify the matlab path?

[2020-03-19 09:05] gabrielenava commented on #75
I was going towards this direction (see the outdated comment https://github.com/robotology/whole-body-controllers/issues/75#issuecomment-600811140) because I don't like the fact that the library is not installed, however then I have no clue how to handle the `goToWholeBodyController.m` script.

That script should point the absolute path of the `source` folder, where the Simulink models are. So if

[2020-03-20 10:02] gabrielenava opened #91 "Understand how to create standalone Simulink applications"
It should be now possible with the latest Matlab 2020a, see

https://it.mathworks.com/products/simulink-compiler.html

[2020-03-20 10:13] gabrielenava commented on #75
I've decided:

1) install the library in the `mex` folder;
2) install `startup_WBC.m` in the mex folder (to be used in the `wbc not in the superbuild` workflow);
3) revert modifications of `startup_robotology_superbuild.m` (but not the comments and the removal of mex-wholebodymodel paths);
4) add a separate script in the whole-body-controllers source folder to create the `goToWholeBodyControllers.

[2020-03-22 22:10] gabrielenava commented on #75
With https://github.com/robotology/whole-body-controllers/pull/92/commits/ac4a43714f2ca5b6d6ea08618acc462c797dc6fc the `wbc` library is now installed in the `/install/mex` folder. All the documentation has been updated accordingly. The file [createGoToWBC.m](https://github.com/robotology/whole-body-controllers/blob/update-autogeneration/config/createGoToWBC.m) generates the `goToWholeBodyControlle

[2020-03-22 22:13] gabrielenava commented on #70
Almost finished: when https://github.com/robotology/whole-body-controllers/pull/92 and https://github.com/robotology/robotology-superbuild/pull/367 will be merged, the `2.5` release will be done.

[2020-03-23 08:10] traversaro commented on #70
Not a blocker for the 2.5 release (actually it is a modification that needs to be done **after the 2.5 release), but I think we should also modify the superbuild to install whole-body-controllers also when `ROBOTOLOGY_USES_MATLAB` is disabled.

[2020-03-23 09:40] #75 closed, assigned to gabrielenava

[2020-03-23 17:00] gabrielenava commented on #70
## TODO after merging:

- create the release and update the  readme; :heavy_check_mark:

- Modify the superbuild to install whole-body-controllers also when ROBOTOLOGY_USES_MATLAB is disabled;

- Update the superbuild and WBC documentation accordingly;

- Consistency check for all the hyperlinks in the readmes; :heavy_check_mark:

- Add link to the new Simulink-only controller in the wiki. :heavy_

[2020-03-24 20:27] gabrielenava commented on #70
@traversaro I was addressing this point but I have some questions:

- Looking at the [CMakeLists](https://github.com/robotology/robotology-superbuild/blob/master/CMakeLists.txt#L160) of `robotology-superbuild`, there is also the option `ROBOTOLOGY_NOT_USE_SIMULINK`. Should I bring whole-body-controllers out of both the tags? do we still need the `ROBOTOLOGY_NOT_USE_SIMULINK` tag or it can be remov

[2020-03-24 20:39] traversaro commented on #70
Mhh, `ROBOTOLOGY_NOT_USE_SIMULINK` is useful for avoiding failures in BlockFactory if Matlab is compiled but Simulink is not, the fact that is used only there sounds like a regression. Probably the USES_MATLAB option of BlockFactory (see https://github.com/robotology/robotology-superbuild/blob/bdf3b7c5f4d7d2531e8c566058937558f23de649/cmake/BuildBlockFactory.cmake#L13) should depend on the value of

[2020-03-25 12:20] gabrielenava opened #93 "[Archived knowledge] How to fix gtk warnings when launching Matlab 2019b"
I've installed Matlab 2019b on Ubuntu 18.04 LTS. Every time I run the `matlab` command on a terminal, I get this warning:

[code]

Plus other similar random warnings when running Simulink and other Matlab tools.

I fixed the issue by creating the following alias in my `.bashrc`:

[code]

Note that one can even export the `gtk-2.0` library outside this alias, but in this way other applications that

[2020-03-25 12:20] #93 closed, assigned to gabrielenava

[2020-03-25 21:43] gabrielenava commented on #70
[WBC readme](https://github.com/robotology/whole-body-controllers/blob/master/README.md#installation-and-usage) updated and [PR](https://github.com/robotology/robotology-superbuild/pull/370) opened.

Once the PR will be finished, I'll close this issue and the 2.5 release will be officially concluded.

[2020-03-26 12:22] gabrielenava commented on #70
The PR has been merged. Closing, the release is officially concluded.

[2020-03-26 12:22] #70 closed, assigned to gabrielenava

[2020-03-26 12:27] gabrielenava opened #94 "Whole-body-controllers release 2.5.2"
## RELEASE DATE: TBD

This issue is a tracker for the new WBC release 2.5.2.

Issues involved in the new release (list will be updated in the future):

~- [ ] [Fix bug in fromTransfMatrixToPosQuat](https://github.com/robotology/whole-body-controllers/issues/111)~
~- [ ] [Add KPI logic to evaluate performance and robustness of controllers](https://github.com/robotology/whole-body-controllers/issues

[2020-03-29 15:16] gabrielenava opened #95 "Improve the Simulink-balancing-simulator"
The new `2.5` release of WBC now also officially supports an internal simulator for balancing: https://github.com/robotology/whole-body-controllers/blob/master/controllers/simulink-balancing-simulator/README.md.

The simulator can be improved as follows:

- the control subsystem and the `dynamics integration` subsystem should be clearly separated. In this way the simulator may be easily adapted to

[2020-03-29 15:24] gabrielenava commented on #90
Added a [scheme](https://github.com/robotology/whole-body-controllers/blob/devel/doc/pics/wbc.png) that represents the software infrastructure that supports WBC. May be integrated in the wiki in release 3.0.

[2020-04-01 15:30] fjandrad commented on #95
@gabrielenava  you can start experimenting with [the new matlab visualization](https://github.com/robotology/idyntree/tree/newMatlabVisualization/bindings/matlab/Visualization). Some documentation can be found [here](https://github.com/robotology/idyntree/blob/newMatlabVisualization/doc/matlab_visualization.md)

[2020-05-05 08:55] fjandrad opened #96 "Add KPI logic to evaluate performance and robustness of controllers"
It is possible to attempt to measure the performance and robustness of controllers by looking at certain relevant quantities, key performance indicators (KPI).

#### Performance
This is related to tasks we typically require the robot to do in a way or another. They can be compared to a reference value based on what the planner or controller required the robot to do to achieve a goal.
There are:
-

[2020-05-12 07:18] fjandrad commented on #96
After some thought, I decided against putting the code for evaluation here. The reason is that although it may be almost directly linked to these controllers at the moment, with the implementation of a proper interface it may be more generic.
For this reason, I created a different repo

cc @S-Dafarra @gabrielenava @DanielePucci @nunoguedelha

[2020-05-12 07:28] gabrielenava commented on #96
@fjandrad that's ok, but the repo you linked seems not accessible :-D.

Should we close the issue then?

[2020-05-12 08:26] #96 closed, assigned to fjandrad, gabrielenava

[2021-02-11 15:38] gabrielenava opened #109 "Can we change the name of the repo?"
I think that `whole-body-controllers` is a very generic title, also the controllers in https://github.com/robotology/walking-controllers are whole-body-controllers.

This repo actually contains:

- MATLAB-Simulink -based, instantaneous whole-body controllers
- a library of utility functions for MATLAB-Simulink -based, instantaneous whole-body controllers
- some utility Simulink models and scripts

[2021-02-11 15:43] traversaro commented on #109
No, we just need change the name of a few files in the robotology-superbuild, i.e.:
* https://github.com/robotology/robotology-superbuild/blob/master/releases/latest.releases.yaml#L106
* https://github.com/robotology/robotology-superbuild/blob/master/cmake/Buildwhole-body-controllers.cmake
* https://github.com/robotology/robotology-superbuild/blob/3dc34724f6f4b41d74ede4c7d1b30021efe2fe20/cmake/Rob

[2021-02-11 15:44] traversaro commented on #109
As this will change the projects tags files, probably  @CarlottaSartore  needs to be informed in time.

[2021-02-12 10:11] CarlottaSartore commented on #109
Yes,  as long as we are informed in time for changing the tags  no problem from our side.

[2021-02-12 10:47] traversaro commented on #109
Note that the only reason why the name in the project tags will need to be changed is just for how the superbuild works, the old repo name would still work fine when doing git clone, as GitHub handles redirects quite well.

[2021-02-12 13:08] DanielePucci commented on #109
Go for me

[2021-02-16 14:34] gabrielenava commented on #109
After a f2f discussion with @CarlottaSartore we decided to postpone the update of the repo name in March. Also I realized that all the documentation which refers to whole-body-controllers needs to be updated and this is not so short.

[2021-03-23 18:44] gsilano opened #110 "Integral quaternion"
Hi everybody! I hope my question would be interesting and a source of inspiration even if this is not specifically meant to work in the iCub ecosystem. Currently, I'm facing the problem of integrating the first time derivative of a quaternion, the opposite of what has been implemented in [this MATLAB function](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bw

[2021-03-24 09:07] traversaro commented on #110
Hi @gsilano, thanks for sharing your solution to this problem.

Just to understand, from your issue it seems that you already solved your question, is that correct? In this case, if you just want to share something that you find cool with the iCub community, probably it may be more indicate (in the sense that it would reach more people) to post this in the Robotology Community Discussions (see htt

[2021-03-24 09:10] pattacini commented on #110
Yep, we do have this particular category: https://github.com/robotology/community/discussions/categories/show-and-tell.

[2021-03-24 09:58] gsilano commented on #110
Hi @traversaro and @pattacini! I will move the conversation there. Thanks!

This is the link to that: https://github.com/robotology/community/discussions/493

[2021-03-24 10:08] #110 closed, assigned to nobody

[2021-03-26 17:09] FabioBergonti opened #111 "Error in the computation of quaternion using `fromTransfMatrixToPosQuat`"
Given the homogenous matrix:
[code]
The quaternion computed using the function [`fromTransfMatrixToPosQuat`](https://github.com/robotology/whole-body-controllers/blob/e50500365fe996cfe26a586be67fe94f90f3edae/library/matlab-wbc/%2Bwbc/fromTransfMatrixToPosQuat.m#L1) is wrong, i.e. the norm is different from 1
[code]

The output produced by the matlab function [`rotm2quat`](https://it.mathworks.com/

[2021-04-13 16:06] traversaro commented on #109
Is the renaming still planned?

[2021-04-16 12:57] gabrielenava commented on #109
I think it would be nice to align the name of the repo with the one of [matlab-whole-body-simulator](https://github.com/dic-iit/matlab-whole-body-simulator), and therefore change it to `matlab-whole-body-controllers`. I think the two repos may have things in common. Maybe we can take a final decision in today's meeting @traversaro.

[2021-04-16 17:08] gabrielenava commented on #109
In the end after listening to the feedback from @nunoguedelha I decided for `simulink-whole-body-controllers` because all controllers are Simulink models.

I am going to change just the name, I am not going to change the name of the library package (+wbc) otherwise all MATLAB/Simulink code that calls functions with the namespace `wbc` will be broken. So, the modification should only affect the doc

[2021-04-19 14:38] gabrielenava commented on #95
we could try to understand how to substitute this internal WBC simulator with [matlab-whole-body-simulator](https://github.com/dic-iit/matlab-whole-body-simulator) functionalities.

cc @nunoguedelha

[2021-04-19 14:39] gabrielenava commented on #91
closing as we are not planning to investigate in this direction in the near future

[2021-04-19 14:39] #91 closed, assigned to gabrielenava

[2021-04-19 14:43] gabrielenava commented on #89
the activity is not going to be addressed in the near future, closing the issue for now

[2021-04-19 14:43] #89 closed, assigned to gabrielenava

[2021-04-19 14:44] gabrielenava commented on #76
the activity is not going to be addressed in the near future, closing the issue for now

[2021-04-19 14:44] #76 closed, assigned to gabrielenava

[2021-04-19 14:46] gabrielenava commented on #26
the activity is not going to be addressed in the near future, closing the issue for now

[2021-04-19 14:46] #26 closed, assigned to gabrielenava

[2021-04-19 14:46] gabrielenava commented on #66
the activity is not going to be addressed in the near future, closing the issue for now

[2021-04-19 14:46] #66 closed, assigned to gabrielenava

[2021-04-21 03:54] nunoguedelha opened #113 "Create a library of controller blocks out of the multiple models in this repo and integrate them in those models"
This repository implements a multitude of controllers that can be connected either to Gazebo, either to the real robot iCub. In order to facilitate the reuse of such controllers on other humanoid robots or their integration in other simulation frameworks that implement specific robot dynamics simulators like [`matlab-whole-body-simulator`](https://github.com/dic-iit/matlab-whole-body-simulator), w

[2021-04-21 03:58] nunoguedelha commented on #113
We held a kick-off meeting for this activity.

## Discuss about creating a library of controller blocks out of the multiples models in whole-body-controllers

### Meeting Minutes 16/04/2021

**Attendees:** Nuno Guedelha, Gabriele Nava

After discussing with Gabriele, we agreed on the following terms:

#### Actions for Gabriele:

1. Rename the repository whole-body-controllers.
2. Integrate the new

[2021-04-21 04:09] nunoguedelha commented on #113
@gabrielenava , could you assign this to me, as we agreed, such that I convert it to an epic and add the sub-issues? Thx

## IMPORTANT
The first step...

is top priority since we want to use the YOGA++ as a showcase for the `matlab-whole-body-simulator` simulator (https://github.com/dic-iit/element_software-engineering/issues/24) which deadline is the 30th April.

It shall be the first issue (#114

[2021-04-21 04:11] nunoguedelha opened #114 "Create the controllers library with its first block: the YOGA++ controller"
We will create a library which meant to include all the controllers implemented in this repository, located in https://github.com/robotology/whole-body-controllers/tree/master/controllers. The [floating-base-balancing-torque-control](https://github.com/robotology/whole-body-controllers/tree/master/controllers/floating-base-balancing-torque-control) shall be the first controller model to be convert

[2021-04-21 04:22] nunoguedelha commented on #113
@gabrielenava could you please also assign #114 to me, and authorize me to add this repo to the board of https://github.com/dic-iit/matlab-whole-body-simulator.

[2021-04-21 07:05] traversaro commented on #113
Done!

[2021-04-21 09:01] gabrielenava commented on #87
Jerk controller added on `devel` branch with this commit: https://github.com/robotology/whole-body-controllers/commit/5a1a92c6d3896980ca1b5f82d0e73ace3c06f33e

documentation updated. Closing the issue!

cc @nunoguedelha

[2021-04-21 09:01] #87 closed, assigned to gabrielenava

[2021-04-21 14:00] nunoguedelha commented on #109
@gabrielenava , I've added this to the epic #113 as it is one of the actions listed there. Let me know if for any reason this is not ok for you.

[2021-04-21 14:03] nunoguedelha opened #116 "Define the granularity used in grouping the simulink blocks into library sub-system blocks"

[2021-04-21 14:06] nunoguedelha opened #117 "Convert the remaining controllers into blocks in the controllers library and propagate it to the main models"

[2021-04-21 14:40] nunoguedelha opened #118 "Implement the Kinematics library and propagate it to the other libraries and models"

[2021-04-21 14:41] nunoguedelha opened #119 "Implement the Dynamics library and propagate it to the other libraries and models"

[2021-04-21 14:45] nunoguedelha opened #120 "Add a mask to each controller for clearly defining its interface"

[2021-04-21 17:04] gabrielenava commented on #109
fine to me @nunoguedelha!

[2021-04-26 15:11] nunoguedelha opened #121 "Create model integrating the YOGA++ controller with the dynamics with contacts simulator from matlab-whole-body-simulator"
Moved from https://github.com/dic-iit/matlab-whole-body-simulator/issues/32:

We wish to implement a Simulink model which controls a humanoid robot (iCub) in performing a dynamic trajectory while balancing: the YOGA++. For that purpose, the model would integrate the YOGA++ controller with the whole-body simulator from `matlab-whole-body-simulator`.

### Recap of follow-up issues
- #123
- [wb-toolb

[2021-04-30 04:27] nunoguedelha commented on #121
As described in https://github.com/dic-iit/element_software-engineering/issues/24, this consists in replacing the Gazebo target by the library blocks "RobotDynWithContacts", "IMU" and "robot visualizer" from [`matlab-whole-body-simulator`](https://github.com/dic-iit/matlab-whole-body-simulator):
- "RobotDynWithContacts" simulates the robot dynamics, handling the contacts of the feet with the groun

[2021-05-02 06:25] nunoguedelha commented on #121
The new Simulink model [`controllers/floating-base-balancing-torque-control-with-simulator`](https://github.com/robotology/whole-body-controllers/tree/feature/replace-gazebo-by-matlab-simulator/controllers/floating-base-balancing-torque-control-with-simulator) was created from a duplicate of ['controllers/floating-base-balancing-torque-control'](https://github.com/robotology/whole-body-controllers

[2021-05-02 07:56] nunoguedelha commented on #121
Simulation run fails at the very beginning:
<img width="690" alt="image" src="https://user-images.githubusercontent.com/6848872/116806118-4127c180-ab2b-11eb-84bf-945abb50faed.png">

This is due to a known problem, not fully characterized, nor fully fixed, with the QP block (WBT block implementing the qpOASES solver): https://github.com/dic-iit/element_ironcub-control/issues/164#issuecomment-821027

[2021-05-02 21:39] nunoguedelha commented on #121
Simulation still fails at the very beginning due to a spike detected on the encoders:
<img width="681" alt="image" src="https://user-images.githubusercontent.com/6848872/116828295-0d39b400-ab9e-11eb-91ae-2d31f52f482c.png">

Deactivated the termination triggered by the assertion check:
[code]

[2021-05-02 21:40] nunoguedelha commented on #121
Simulation still fails at the very beginning due to:
<img width="679" alt="image" src="https://user-images.githubusercontent.com/6848872/116828543-a2897800-ab9f-11eb-8600-e42e9b8b72de.png">

This is caused by the controller diverging, resulting in computed `NaN` accelerations and subsequently a `NaN` rotation matrix, which causes the command `norm` to crash.

This is probably due to the fact that

[2021-05-03 04:38] nunoguedelha commented on #121
ping @traversaro , @gabrielenava

[2021-05-03 06:21] nunoguedelha commented on #121
The cause is most probably the motor reflected inertia: I left it at 0. I have to set the proper values and retest.

[2021-05-03 08:04] gabrielenava commented on #121
given the critical failure I suggest, in case you did not do it yet, to  perform first a balancing demo instead of the Yoga, in order to reduce the complexity and isolate problems related to the simulator and problem related to gain tuning.

There are several way to skip the yoga demo, I usually set to `inf` (or a very long time) the `tBalacing` variable: https://github.com/robotology/whole-body-c

[2021-05-03 12:00] nunoguedelha commented on #121
Yes @gabrielenava , indeed it was my intention in my next step. Thanks!

Well, with the reflected inertia it improved, and it fails later, after lifting the right foot from the ground. The jointss start jiggling. I also remembered that the simulator is unstable if we compensate the friction completely, which is the case here since it's a "perfect" torque control.

I'm going to retest with friction

[2021-05-03 13:56] nunoguedelha opened #123 "YOGA controller + matlab-whole-body-simulator: control neck joints in position"
Follow-up of https://github.com/robotology/whole-body-controllers/issues/121#issuecomment-830758710 section _**Neck joints and option Config.CORRECT_NECK_IMU**_.

[2021-05-03 16:53] nunoguedelha opened #124 "Map the friction and motor inertia parameters to the joint names list (do not use hardcoded indexes)"

[2021-05-03 21:18] nunoguedelha commented on #121
Reflected motor inertias and friction torques implemented...

## Reflected motor inertias

Refer to https://github.com/dic-iit/matlab-whole-body-simulator/pull/9 for the theory and the implementation in the core block **RobotDynWithContacts** from `matlab-whole-body-simulator`.

There is no motor nor joint model in the simulator sub-system in the model `floating-base-balancing-torque-control-with-

[2021-05-04 04:19] nunoguedelha commented on #121
## Tests 1 to 3

- model iCubGazeboV2_5
- Balancing on two feet

### Test 1
- Controller Motor reflected inertia OFF
- Simulator Motor reflected inertia OFF
- Simulator Friction = 0.0

=> Simulation diverges approx. after 1s.

### Test 2
- Controller Motor reflected inertia OFF
- Simulator Motor reflected inertia ON
- Simulator Friction = 0.0

=> Simulation diverges approx. after 13s.

### Test 3

[2021-05-04 04:32] nunoguedelha commented on #121
In the previous tests we are also exceeding the joint limits, specially on the knee, going through a singular position. In the video below (side view of the test 7), we can see that the oscillations seem to begin when the knee is fully stretched.

https://user-images.githubusercontent.com/6848872/116960802-c634e700-aca1-11eb-82e4-38b780500ee6.mp4

If possible, I'll tune the center of mass to be lo

[2021-05-04 11:49] nunoguedelha commented on #121
@gabrielenava , while I'm doing my own intuitive tuning, could you give me a quick recap of the methodology you follow for tuning the YOGA? Typically the parameters you adjust most often in `configStateMachine.m` after changing the controller or simulation environment..

[2021-05-04 13:44] nunoguedelha commented on #121
## Checks done on the controller & simulation outputs

- No saturation desired joint torques
- Stable and coherent feet contact status
- Mass matrix condition number: high ~ 6700. No spike observed when the joint oscillations begin.

## Test 8: Skip YOGA (support foot switching only)
- No saturation desired joint torques
- Stable and coherent feet contact status
- Mass matrix condition number: mot

[2021-05-04 19:09] nunoguedelha commented on #121
| https://user-images.githubusercontent.com/6848872/117055133-17cd8800-ad1b-11eb-96bc-75a9236186d6.mp4 | Example of failure due to a singular position. The controller is trying to lower the center of mass (`StateMachine.CoM_delta(9,3) = -0.10`), but the legs are fully stretched, which is a singular position (we lost the DoF along the $z$ axis.) |
| --- | --- |

[2021-05-04 23:12] nunoguedelha commented on #121
## Test 9: Full Yoga with support on the left foot

(commit f2385950fc2fc35f913019fdfb4adbacb1f6b20b)

- Changed the initial joint configuration in order to bend the knees.
- No need to add an offset to the desired CoM since the initial joint configuration already  has the knees bent. There is enough margin to maintain the CoM hight when transitioning the CoM to the left or ight foot.
- Increased

[2021-05-05 03:01] nunoguedelha commented on #121
It's probably due to the Postural gain scheduling. For some reason, we're not getting symmetrical gains on the left and right ankles, and we can notice in the video that the robot falls apparently because the right ankle does not keep it's position as if the torque was insufficient:

<img width="1465" alt="image" src="https://user-images.githubusercontent.com/6848872/117092555-e4145180-ad5e-11eb-9

[2021-05-05 15:24] gabrielenava commented on #121
I wonder what happens if you perform the Yoga only on the left foot, and when the Yoga finishes you just remain into two feet balancing state (it is this option in the Yoga config file: https://github.com/robotology/whole-body-controllers/blob/master/controllers/floating-base-balancing-torque-control/app/robots/iCubGazeboV2_5/configStateMachine.m#L57).

If the robot can actually come back on two f

[2021-05-05 17:39] nunoguedelha commented on #121
Sure, I'll be trying that today. Also, for meeting the deadline, we can consider just doing the YOGA on the left foot.

CC @traversaro @DanielePucci

[2021-05-06 02:06] nunoguedelha commented on #121
The YOGA on left foot only works.

In the plot below, we're running the YOGA left foot only and can see the ankle roll gain decrease to `5` along the state 7, and this happens because the scheduled target gain for the ankle roll is actually `5`:
[code]

<img width="372" alt="image" src="https://user-images.githubusercontent.com/6848872/117219934-92270680-ae06-11eb-8ac3-31c0c11184b2.png">

Indeed,

[2021-05-06 05:42] nunoguedelha commented on #121
After further analysis, and after doing some adjustments that improved the behavior, avoiding some QP failures that were occurring when shifting the weight to the right foot, the robot is still falling. At this point it's better to proceed with the PR with only the YOGA left foot, and solve this problem later.

[2021-05-06 05:46] traversaro commented on #121
It make sense!

[2021-05-06 17:08] nunoguedelha commented on #95
Hi @gabrielenava , as we discussed T2T some time ago, we could consider #121 as a first step in the strategy you defined here. Considering the bullet points you defined, I would say that #121 covers the bullets **1, 3** and **4**.

The point **2** would be the next step. I suggest we make this issue #95 an Epic and include #121 in it for starting. What do you think?

[2021-05-07 08:01] gabrielenava commented on #95
Agreed, the title is already very generic and it can be easily include several issues.

[2021-05-08 17:08] nunoguedelha commented on #121
For the record, this is the last PR to go, for completing the Epic https://github.com/dic-iit/element_software-engineering/issues/24 (apart from a bit of documentation).

[2021-05-08 19:24] nunoguedelha opened #125 "Minor fixes and improvements of the YOGA-controller+matlab-simulator model"
Follow-up of:

[2021-05-10 20:54] nunoguedelha opened #127 "Fix the YOGA on right foot in the model YOGA-controller+matlab-simulator"
The YOGA starting on the right foot is not working for now in the model YOGA-controller+matlab-simulator most probably due to the current tuning in states 8 and 9 of the controller state machine. To be analyzed.

[2021-05-10 20:56] nunoguedelha commented on #127
@traversaro , I had forgotten this one, I'll put in the last position of the Backlog. I think showing more clearly the switching in the demo is a good significant addition, although not really a priority. Let me know in case you have a different opinion.

[2021-05-10 21:05] nunoguedelha commented on #121
The fix of the YOGA starting on the right foot shall be tracked in https://github.com/robotology/whole-body-controllers/issues/127.

Closing this issue.

[2021-05-10 21:07] traversaro commented on #127
Ok for me, but first let's try to wrap up a first release with the YOGA++ demo working, as we discussed last week.

[2021-05-10 21:08] #121 closed, assigned to nunoguedelha

[2021-05-10 21:09] nunoguedelha commented on #127
Sure, I just opened it for not getting it out of sight.

[2021-05-12 05:19] nunoguedelha commented on #94
Reopened since there is still the documentation to update.

[2021-05-12 09:50] gabrielenava commented on #94
I modified the issue title and description so that the issue can be closed. #90 will be added in a new dedicated issue that triggers the release 3.0

[2021-05-12 09:50] #94 closed, assigned to gabrielenava

[2021-05-20 04:22] nunoguedelha commented on #125
## When Config.EMERGENCY_STOP_WITH_ENCODER_SPIKES is OFF, at least a warning is triggered by joint encoder spikes

1. Replaced the boolean flags `Config.EMERGENCY_STOP_WITH_JOINTS_LIMITS` and `Config.EMERGENCY_STOP_WITH_ENCODER_SPIKES` by enumerations (`None`, `Warning`, `EmergencyStop`).

<img width="2113" alt="image" src="https://user-images.githubusercontent.com/6848872/118918298-e2d44e80-b932-

[2021-05-25 15:05] #125 closed, assigned to nunoguedelha

[2021-07-06 12:21] traversaro commented on #109
@gabrielenava can we move this in Ice-Box if you are not going to work on this?

[2021-07-06 14:19] gabrielenava commented on #109
ok for me!

[2021-08-06 15:26] gabrielenava opened #131 "Converge to a single library function for checking spikes"
Follows #130

At the moment we have 3 different functions for checking encoder spikes:

- [checkSpikes](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/checkSpikes.m) already deprecated as explained in the function itself:

[code]

- [checkInputSpikesWithSimulator](https://github.com/robotology/whole-body-controllers/blob/master/library/matlab-wbc/%2Bwbc/

[2021-08-06 15:48] gabrielenava commented on #109
In the end, I decided to give up with this change of name, as time passed by,  and it seems to me a minor change that will however result in a not small task - as we need to spend time to notify the name change, to update documentation, and so on.

I close the issue, I will reopen it if and when there will be space for this modification.

[2021-08-06 15:48] #109 closed, assigned to gabrielenava

[2021-12-02 14:23] lrapetti opened #136 "Should iCub V2.5 feet size be equal on left/right foot?"
Assuming that:
- the position of the soles frame inside the foot is mirrored in left and right foot
- the soles reference frames have the same orientation

Then I would expect the dimension of the foot defined on the sole frame:
https://github.com/robotology/whole-body-controllers/blob/44ccfa2567938d527406837cfd848775096594bc/controllers/floating-base-balancing-torque-control/app/robots/iCubGazebo

[2021-12-03 09:38] gabrielenava commented on #136
I think you are right @lrapetti, I suspect the feet size was never corrected as the asymmetry in the y direction seems small and the yoga motion in particular was always conservative enough to not be affected by this error. Could you open a PR to fix the feet size?

[2021-12-03 11:27] lrapetti commented on #136
Sure, I can handle it. Since the same variable `feet_size` is used both on left and right foot, we can keep the change minimum simply by using a symmetric value like:
[code]

what do you think?

[2021-12-06 16:32] gabrielenava commented on #136
-0.045 0.045 ];   % yMin, yMax

fine to me :-)

[2021-12-07 12:05] lrapetti commented on #136
PR opened https://github.com/robotology/whole-body-controllers/pull/137

[2021-12-09 11:48] traversaro opened #138 "master and devel branches are diverging?"
Hi @gabrielenava,
  I was investigating https://github.com/robotology/robotology-superbuild/issues/948, and I noticed that currently the master branch and the devel branch of this repo are diverging. In particular, this is the situation (taken from https://github.com/robotology/whole-body-controllers/network ):
![network_wbc](https://user-images.githubusercontent.com/1857049/145390998-e3e03602-849

[2021-12-09 13:37] gabrielenava commented on #138
I think the problem is due to some recent PR that I merged on `master` directly, and not passing through `devel` first. I will investigate the differences between `devel` and `master`, but I agree in removing `devel` (if and when possible) and keep using `master` only.

[2021-12-09 13:45] gabrielenava commented on #136
PR merged and closed, thanks @lrapetti! closing the issue.

[2021-12-09 13:45] #136 closed, assigned to gabrielenava

[2021-12-09 13:49] gabrielenava commented on #138
I have merged `devel` into `master`, now I think that `devel` is not diverging anymore but it is just behind `master` of several commits:

![image](https://user-images.githubusercontent.com/12396934/145408120-250b2628-2aa6-48fc-9f7a-da04fba0cbeb.png)

if no-one uses the `devel` branch I think we can delete it.  Can you thumb up for approval @nunoguedelha @S-Dafarra @traversaro @lrapetti @CarlottaS

[2021-12-09 13:58] gabrielenava commented on #138
created a new tag in case it is needed for the robotology: https://github.com/robotology/whole-body-controllers/releases/tag/v2.5.5

[2021-12-09 15:03] traversaro commented on #138
By the way, master is already the branch used for Unstable branches in superbuild for the whole-body-controllers: https://github.com/robotology/robotology-superbuild/blob/master/cmake/ProjectsTagsUnstable.cmake#L31 .

[2021-12-13 10:01] gabrielenava commented on #138
one last call, then today afternoon I will delete `devel`. Let me know in case for some reasons you don't want me to delete the `devel` branch.

[2021-12-13 15:35] gabrielenava commented on #138
`devel` branch deleted. Closing the issue.

[2021-12-13 15:35] #138 closed, assigned to nobody

[2021-12-14 08:32] traversaro commented on #59
Note that there are tipically better solution then running MATLAB with `-softwareopengl`, as this result in much slower 3D visualization, see https://github.com/robotology/robotology-superbuild/issues/953 for more details.

[2021-12-14 16:00] traversaro opened #140 "How to use the MomentumVelocityControl block and functions when whole-body-controllers is installed"
Hi everyone, I was trying to take an internal downstream project that depends on `whole-body-controllers` and make sure that it was only using the the **installed** version of **whole-body-controllers**, to make sure that it can eventually work fine with binary distribution of the install of whole-body-controllers, such as a `.zip` of the `<build>/install` directory of the robotology-superbuild, o

[2021-12-14 16:09] traversaro commented on #140
Note for the future: these kind of issues could be prevented by having the source structure corresponding exactly to the install structure, and just having a simple CMake code to install:
[code]

This should prevent from the structual point of view issue of these kind from happening again, and would drastically reduce the amount of CMake logic to mantain (and nobody likes complex CMake logic : ) )

[2021-12-16 16:48] traversaro commented on #140
We had a meeting today on these, with this outcome:
* While it would be great to support the "build structure = install structure", it is not obious how do it now. For example, currently the `<install_prefix>/mex/+wbs/simulink` contained the .slx files coming from different directories, so changing all of that is tricky.
* It would be good to install all the functions of https://github.com/robotol

[2021-12-16 17:20] traversaro opened #142 "Cleanup files that are installed in <install_prefix>/mex/+wbc/simulink/MomentumVelocityControl"
See https://github.com/robotology/whole-body-controllers/issues/140 .

[2021-12-16 17:40] #140 closed, assigned to nobody

[2022-03-20 13:49] traversaro opened #144 "Error running floatingBaseBalancingTorqueControlWithSimulator.torqueControlBalancingWithSimu using released version of whole-body-controllers and matlab-whole-body-simulator"
I tried to run the `floatingBaseBalancingTorqueControlWithSimulator` by just running `floatingBaseBalancingTorqueControlWithSimulator.torqueControlBalancingWithSimu` as documented in https://github.com/ami-iit/matlab-whole-body-simulator/tree/ac47383e3c04cd0cfd0ab11e2479b7991be9f491#eyes-checking-the-installation, and the simulation is failing with error:
[code]

This are the version of the depend

[2022-03-20 13:52] traversaro commented on #144
I guess that `matlab-whole-body-simulator` should install a `+mwbs.+Utils` directory, but I could not find it anywhere. Any idea on this @gabrielenava @nunoguedelha @VenusPasandi ?

[2022-03-20 14:03] traversaro commented on #144
After the fix https://github.com/robotology/whole-body-controllers/pull/145, now the simulation is failing with error:
[code]

However, this is an error as the `whole-body-controllers` and/or `matlab-whole-body-simulator` conda package does not depend on `idyntree-matlab-bindings`, so it is actually a robotology-superbuild issue. Manually installing:
[code]
permits to actually run the simulation.

[2022-03-20 14:44] traversaro commented on #144
However, running again the simulation fails with:
[code]

Instead, this was due to my current working directory. Moving to `C:\` worked fine.

[2022-03-21 12:24] VenusPasandi commented on #144
Hi @traversaro, `Utiles` is a class of `matlab-whole-body-simulators` and it should be installed if you installed a version of `matlab-whole-body-simulators` which is newer than the commit https://github.com/ami-iit/matlab-whole-body-simulator/commit/6078b4f2c1a874e2b48158998e311a9edf870bd5

[2022-03-21 12:29] traversaro commented on #144
I see. This means that we did a release of `whole-body-controllers` (`2.5.6`, done in https://github.com/robotology/whole-body-controllers/releases/tag/v2.5.6) without a compatible release of `matlab-whole-body-simulator`. Probably we can close this issue as soon as we do a release of `matlab-whole-body-simulator` .

[2022-03-21 13:03] traversaro commented on #144
I updated the issue to reflect the actual problem.

[2022-03-23 10:03] gabrielenava commented on #144
I think it would be nice to implement a github action that runs a test, at least for this Matlab-only controller, and give feedback on the controller status to understand in advance such problems. I don't know if it is possible to design a similar test also for Gazebo-dependent controllers.

There was already the idea of implementing CI in the repo long time ago: https://github.com/robotology/whol

[2022-03-23 12:11] traversaro commented on #144
@VenusPasandi did something similar for an internal repo, and I think we can do something similar here. Changing the simulation time in https://github.com/robotology/whole-body-controllers/pull/146 from infinite to a finite number was actually meant to go in that direction.

[2022-06-30 03:09] JobBoozer opened #148 "Smallest size for a micro harmonic drive"
Online, I saw this [micro harmonic drive](https://ukharmonicdrives.com/harmonic-drive-system/) that is highly recommended by specialists. I wonder if it’s the standard size or if there are others of its kind that are smaller. Could someone tell me about the smallest size of a micro harmonic drive? I’d appreciate photos too. Thanks!

[2022-07-01 16:56] gabrielenava commented on #148
Sorry @JobBoozer, this type of question is out of topic in this repo. You may try to ask your question in another repo, such as https://github.com/robotology/community

closing!

[2022-07-01 16:56] #148 closed, assigned to nobody

[2022-07-12 13:09] traversaro opened #149 "Broken URL in documentation"
The link http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.62.8655&rep=rep1&type=pdf in https://github.com/robotology/whole-body-controllers/blob/6e9a67623642d190427bace17d0b439bd2a13e8d/library/matlab-wbc/%2Bwbc/rotationalPID_acceleration.m#L52 is broken. I wanted to send it to @alaurenzi after discussing it at lunch, but apparently it does not work anymore.

[2022-07-18 10:23] gabrielenava commented on #149
actually, I clicked on it and worked for me:

![image](https://user-images.githubusercontent.com/12396934/179492236-8cfdbaa7-721b-4354-811b-80e6b74f3206.png)

it took long time to load because it is a 300 pages thesis. maybe because of that seemed broken?

[2022-07-18 10:26] traversaro commented on #149
No, the URL was definitely broken some days ago (it was redirecting to the citeseerx main page). Probably it was a a citeseerx temporary problem, now it is working also for me.

[2022-07-18 10:26] #149 closed, assigned to nobody